.search-box {
    margin-left: 50px; align-items: center; display: flex; gap: 10px; font-size: 16px;
}
.lake-suggestions {
  position: absolute; top: 35px; left: 0; right: 0; background: #fff;
  border: 1px solid #ddd; border-radius: 4px; max-height: 200px;
  overflow-y: auto; z-index: 1000; color: #333; font-size: 12px;
}
.lake-suggestions div { padding: 5px 10px; cursor: pointer; }
.lake-suggestions div:hover { background: #8a8787; }

#project-name, #project-list {
    align-items: center; font-size: 15px; width: 500px;
}

#lake-name {
    min-width: 150px; font-size: 15px; width: 200px; display: none;
}
#lake-name-label {
    margin-left: 20px; font-size: 18px; display: none;
}

section.card.tabs {
    display: flex; flex-direction: column; height: calc(100vh - 80px);
}
.tile.tile-double {
    margin: 10px; gap: 50px; display: flex; flex-direction: row; align-items: flex-start;
}

#base-map-select, #scale-factor {
    min-width: 100px; font-size: 15px; cursor: pointer; 
}

#table-of-contents { 
    font-size: 20px; flex-direction: column; align-items: stretch; gap: 0;
}
.attributes-table { font-size: 18px; }
.attributes-table th { font-size: 15px; font-weight: 600;}
.attributes-table tbody td { font-size: 20px }

#generate-grid, #save-grid {
    padding: 4px; border-radius: 10px; cursor: pointer; font-weight: bold;
}
#generate-grid {
    background-color: #184bd6; color: #fff;
}

#map-container {
    display: flex; flex: 1; padding: 10px 10px 10px 10px; position: relative;
}
#leaflet-map-lakes {
    flex: 1; height: 100%; border-radius: 20px;
}
#custom-colorbar-grid {
    position: absolute; top: 15px;
    right: 15px; z-index: 1000; display: none;
}
#custom-scale-factor { width: 80px; text-align: center; }

.control-right {
    margin-left: auto; display: flex; flex-direction: column;
    gap: 5px; padding-right: 5px; line-height: 2.0;
}

.control-tab {
    margin-left: 10px; display: flex; flex-direction: column;
    gap: 10px; padding-right: 5px; flex: 0 0 auto;
}
.control-tab label {
    width: 165px; display: flex;
    align-items: center; justify-content: space-between;
}

.control-tab-inline {
    flex-direction: row; align-items: center; gap: 10px;
    display: flex; flex-wrap: nowrap;
}
.control-tab-inline label { width: 140px; display: inline-block; }

.checkbox-right {
    display: flex; align-items: center; gap: 8px;
}

.checkbox-right input { order: 2; }

#refinement-value { width: 80px; text-align: center; flex: 1;}
#refinement-btn {
    cursor: pointer; padding: 8px; border-radius: 10px;
    background-color: #3b4f85; color: #fff; align-items: center;
}
.content-line {
    display: flex; align-items: center; gap: 8px;
}
