html, body {
    margin: 0; padding: 0; width: 100%; height: 100%;
    font-family: Arial, sans-serif;
}

.form-container {
    width: 100%; height: 100%; display: flex; padding: 20px;
    background: linear-gradient(to bottom right, #004080, #66b2ff);
    justify-content: center; align-items: center; box-sizing: border-box;
}

.form-box {
    background: white; border-radius: 12px; padding: 20px 25px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.2); width: 100%; height: 100%;
    display: flex; flex-direction: column; box-sizing: border-box;
}

form { display: flex; flex-direction: column; height: 100%; gap: 5px; }

.form-row { display: flex; align-items: center; margin-bottom: 15px; gap: 10px; flex: 0 0 auto; }

.form-row:last-child { flex: 1; display: flex; align-items: stretch; }

.form-row input[type="checkbox"] { margin-right: 5px; }

label { flex: 2; padding: 8px 12px; font-weight: bold; color: #004080; min-width: 150px; text-align: center;}

select { flex: 2; padding: 8px 12px; border: 1px solid #66b2ff; border-radius: 6px; outline: none; }

button {
    padding: 8px 16px; background-color: #004080; color: white; border: none; border-radius: 6px;
    cursor: pointer; transition: background-color 0.3s; white-space: nowrap; width: auto;
}

button:hover { background-color: #00264d; }

.progress-container {
  display: flex; flex-direction: column; align-items: center; width: 100%;
}

select:focus { border-color: #004080; box-shadow: 0 0 4px #004080; }

progress {
  -webkit-appearance: none; appearance: none; width: 100%; height: 5px;
}

/* Phần nền (chưa chạy) */
progress::-webkit-progress-bar {
  background-color: #838080; border-radius: 6px;
}

/* Phần đã chạy */
progress::-webkit-progress-value {
  background-color: #004080; border-radius: 6px;
}

/* Firefox */
progress::-moz-progress-bar {
  background-color: #004080; border-radius: 6px;
}
