.header {  
  top: 0; left: 0; width: 100%; z-index: 1000;
  background: linear-gradient(90deg, #0077b6, #00b4d8);
  display: flex; position: fixed; justify-content: space-between;
  align-items: center; padding: 12px 24px;
  color: white; box-shadow: 0 2px 8px rgba(0,0,0,0.15);
}
.nav { display: flex; align-items: center; width: 100%; }
.nav a {
  color: white; text-decoration: none;
  padding: 8px 12px; border-radius: 6px;
  transition: background 0.3s ease;
  font-weight: bold; font-size: 15px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.nav a:hover { background: rgba(255, 255, 255, 0.2); cursor: pointer; }
.nav ul { display: flex; list-style: none; }
.nav-left, .nav-right { display: flex; gap: 10px; }
.nav-middle {
  display: flex; gap: 10px; font-weight: bold; color: rgb(241, 238, 7);
  margin-left: auto; margin-right: auto; font-size: 18px;
}

.popup-menu {
  position: absolute; display: block;
  background: linear-gradient(90deg, rgba(0,119,182,0.7), rgba(0,180,216,0.7));
  border: 1px solid #ccc; border-radius: 8px; 
  box-shadow: 0 8px 16px rgba(0,0,0,0.25);
  z-index: 1000; padding: 10px; overflow: hidden;
  transform: scaleY(0); transform-origin: top; opacity: 0;
  transition: transform 0.3s ease, opacity 0.25s ease;   
}
.popup-menu.show { transform: scaleY(1); opacity: 1; pointer-events: auto; }
.popup-menu a {
  padding: 5px 5px 5px 15px; color: #030303; cursor: pointer;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 18px; display: inline-block; transition: 0.3s;
}
.popup-menu a:hover { color: #0004fa; font-size: 20px; }

.submenu-label {
  font-size: 15px; padding: 5px 0 5px 20px; display: flex; gap: 8px;
  font-family: 'Segoe UI', Tahoma, sans-serif; cursor: pointer;
}
.submenu-label:hover { color: #0004fa; font-size: 15px; }
.submenu { display: none; margin-left: 5px; font-size: 14px;}
.submenu.open, .submenu-1.open { display: block; }
.arrow, .arrow-1 {display: inline-block; transition: transform 0.3s ease; }
.menu-link.active .arrow, .menu-link-1.active .arrow-1 {
  transform: rotate(90deg); transition: transform 0.3s ease; 
}
.submenu a { font-size: 17px; transition: 0.3s; display: block;}
.submenu a:hover { color: #0004fa; font-size: 18px; }

.submenu-1 { display: none; margin-left: 10px; font-size: 14px;}
.submenu-1 a { font-size: 16px; transition: 0.3s; }
.submenu-1 a:hover { color: #0004fa; font-size: 17px; }