# Folders
backend/app/Functions/__pycache__
backend/app/__pycache__
backend/Delft_Projects
.vscode

# Files
Variable_names.txt
*.jpg
*.csv
*.ipynb

# Additional files
*.pyc
rgfgrid.dia

# Environment
.env