*, *::before, *::after {
  margin: 0; padding: 0; box-sizing: border-box;
}
html, body {
  margin: 0; padding: 0;
  box-sizing: border-box; height: 100%;
  font-family: Arial, sans-serif;
}

#right-side-controls {
  position: absolute; top: 70px; right: 10px; display: flex;
  flex-direction: column; align-items: center; gap: 10px; z-index: 1000;
}
#custom_compass_btn {
  display: flex; align-items: center; justify-content: center; 
  border: none; background: none;
}
#custom_compass_btn img {
  width: 70px; height: 70px; pointer-events: none; 
  background: none; display: block;
}

#colorbar-container {
  position: absolute; top: 150px; right: 5px;
  z-index: 1000; display: flex; flex-direction: column; gap: 10px;
}
#custom-colorbar, #custom-colorbar-vector { display: none; }
.colorbar-wrapper {
  display: flex; flex-direction: row; align-items: center; gap: 6px;
  background: rgba(0,0,0,0.6); padding: 8px; border-radius: 6px;
}
.colorbar-title {
  writing-mode: vertical-rl; transform: rotate(180deg); font-size: 15px;
  font-weight: bold; color: white; text-align: center;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.colorbar-gradient { width: 20px; height: 150px; border: 1px solid #ccc; background: #e0e0e0; }
.colorbar-labels {
  height: 150px; display: flex; flex-direction: column; justify-content: space-between;
  font-size: 13px; color: white; margin-left: 6px; text-align: left;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
#custom-colorbar-scaler {
  margin-top: 5px; text-align: center; font-size: 14px; color: rgb(255, 255, 255);
  background: rgba(0,0,0,0.6); padding: 8px; border-radius: 6px;
}

#leaflet_map { position: absolute; top: 0; left: 0; width: 100%; height: 100%; }
.leaflet-control-scale {
  background: white; border-radius: 4px; padding: 4px; font-size: 12px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.2);
}
.leaflet-tile { width: 257px !important; height: 257px !important;}

.basemap-container { position: relative; display: inline-block; }
#basemap-popup {
  position: absolute; top: 0; right: 60px; background-color: #ccc;
  border: 1px solid #999; border-radius: 8px; box-shadow: 0 2px 8px rgba(0,0,0,0.2);
  padding: 10px; z-index: 1001; min-width: 200px; font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  opacity: 0; transform: translateX(-50%); transition: opacity 0.3s ease, transform 0.3s ease; pointer-events: none;
}
#basemap-popup.show { opacity: 1; transform: translateX(0); pointer-events: auto; }
#custom_map_background_btn {
  display: flex; align-items: center; justify-content: center;
  background: rgb(255, 255, 255); ; border: none; cursor: pointer;
  width: 50px; height: 50px; border-radius: 10%; margin-top: auto;
}
#custom_map_background_btn img { width: 40px; height: 40px; display: block; justify-content: center; align-items: center; }
#basemap-popup div:first-child { font-weight: bold; margin-bottom: 5px; color: #07878b; font-size: 15px; }
.basemap-option {
  display: block; width: 100%; padding: 5px 5px; background-color: #07af8b; margin: 5px 0 0 0;
  border: 1px solid #082bf1; border-radius: 4px; text-align: center; cursor: pointer; font-size: 13px; 
}
.basemap-option:hover { background-color: #a7936a; color: white; }

#map_container { position: absolute; width: 100%; height: 100%; top: 0; left: 0; }

#loadingOverlay {
  position: fixed; top: 0; left: 0; width: 100%; height: 100%;
  background-color: rgba(255, 255, 255, 1.0);
  z-index: 9998; display: flex;
  flex-direction: column; align-items: center;
  justify-content: center; font-size: 30px;
  font-family: Arial, Helvetica, sans-serif;
}
.loading-text {
  margin-bottom: 20px; font-size: 24px;
  font-family: Arial, sans-serif; white-space: pre-line;
  color: #333; z-index: 9999; text-align: center;
}
.spinner {
  border: 8px solid #f3f3f3; z-index: 9999;
  border-top: 8px solid #3498db;
  border-radius: 50%; width: 60px; height: 60px;
  animation: spin 1s linear infinite;
}
@keyframes spin {
0%   { transform: rotate(0deg); }
100% { transform: rotate(360deg); }
}

#summaryWindow {
  position: fixed; top: 30%; left: 50%; transform: translate(-50%, -50%);
  width: 800px; height: 300px; background-color: #fff; border: 1px solid #999;
  box-shadow: 2px 2px 12px rgba(0,0,0,0.3); min-width: 200px; min-height: 100px;
  display: none; z-index: 2000; resize: both; overflow: hidden; flex-direction: column;
  -webkit-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none;
}
#summaryHeader, #informationContactHeader, #projectWindowHeader, #simulationWindowHeader {
  padding: 8px; background-color: #2c3e50; color: white;
  cursor: move; user-select: none; display: flex; flex-shrink: 0;
  justify-content: space-between; align-items: center;
}

#summaryContent {
  padding: 10px; max-height: unset; overflow-y: auto; flex: 1 1 auto; min-height: 0;
}

#informationContact {
  position: fixed; top: 50%; left: 50%; width: 500px; height: 800px;
  transform: translate(-50%, -50%); min-width: 200px; min-height: 100px; 
  z-index: 2000; background-color: #2c3e50; border-radius: 10px; 
  box-shadow: 0 8px 24px rgba(0,0,0,0.5); 
  display: none; flex-direction: column; overflow: hidden;
}
#informationContactContent, #projectWindowContent, #simulationWindowContent {
  padding: 0; flex: 1 1 auto;
  background-color: #f7f7f7;
  overflow: hidden;
}
#informationContactContent iframe, #projectWindowContent iframe, #simulationWindowContent iframe {
  width: 100%; height: 100%; border: none; overflow: auto;
}

#projectWindow, #simulationWindow {
  position: fixed; top: 50%; left: 50%; width: 1000px; height: 720px;
  transform: translate(-50%, -50%); min-width: 200px; min-height: 100px; 
  z-index: 2000; background-color: #2c3e50; border-radius: 10px; 
  box-shadow: 0 8px 24px rgba(0,0,0,0.5); resize: both; 
  display: none; flex-direction: column; overflow: auto;
}

#summaryWindow table { width: 100%; border-collapse: collapse; }
#summaryWindow th, #summaryWindow td { border: 1px solid #ccc; padding: 6px; text-align: left; }
#closeSummaryOption, #closeInformationContact, #closeProjectWindow, #closeSimulationWindow {
  cursor: pointer; font-size: 20px; margin-left: auto;
  font-weight: bold; color: #ffffff; 
}

#infoDetails {
  position: fixed; bottom: 0; right: 0; width: 300px; height: 80px;
  border-top-left-radius: 12px; border-top-right-radius: 12px; flex-direction: column;
  z-index: 2000; display: block; box-shadow: 2px 2px 12px rgba(0,0,0,0.3);
  background-color: #192e19; border: 2px solid #999; display: none;
  -webkit-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none;
}
#infoDetailsHeader {
  font-weight: bold;  font-size: 15px; text-align: left; padding: 10px 0 10px 10px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; background-color: #3498db;
  border-top-left-radius: 10px; border-top-right-radius: 10px;
}
#infoDetailsContent {
  overflow-y: auto; padding-bottom: 15px; font-size: 15px; flex: 1;
  background-color: #192e19; padding-top: 15px; color: white;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#plotWindow {
  position: fixed; top: 50%; left: 50%; width: 1100px; height: 480px;
  transform: translate(-50%, -50%); background-color: #fff; flex-direction: column;
  box-shadow: 2px 2px 12px rgba(0,0,0,0.3); min-width: 700px; min-height: 200px;
  display: none; z-index: 2100; resize: both; overflow: auto; border: 1px solid #999;
  -webkit-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none;
}
#plotWindow button {
  cursor: pointer; margin: 5px 5px 0 5px; background-color: #025040;
  border: none; border-radius: 4px; color: white; padding: 6px 12px;
}
#plotWindow button:hover {
  background-color: #019475;
}
#plotWindow label {
  margin: 5px 5px 20px 5px; font-weight: bold;
  font-style: bold; font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
#plotHeader {
  padding: 8px; background-color: #2c3e50; color: white;
  cursor: move; user-select: none; display: flex;
  justify-content: space-between; align-items: center;
}

.select-object .checkbox-list input[type="checkbox"] {
  margin: 0 4px 0 0; transform: scale(0.9);
}
.select-object {
  position: relative; display: inline-block; font-size: 14px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.select-object .select-box {
  border: 1px solid #ccc; padding: 6px 12px;
  cursor: pointer; user-select: none; font-size: 14px;
  background: #fff; display: flex; min-width: 220px;
  justify-content: space-between; align-items: center;
}
.select-object .checkbox-list {
  display: none; position: absolute; top: 100%; left: 0;
  border: 1px solid #ccc; background: #fff; max-height: 100px;
  overflow-y: auto; min-width: 220px;; padding: 2px;
  z-index: 1000; padding: 6px; box-sizing: border-box;
}
.select-object .checkbox-list label {
  display: flex; align-items: center; padding: 0 2px;
  cursor: pointer; font-size: 14px;
  font-weight: normal !important; line-height: 1;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#closePlotBtn { cursor: pointer; font-size: 20px; }
#plotContainer { flex: 1; overflow: hidden; margin: 0 10px 0 10px; }
#myChart { width: 100%; height: 100%; }

#time-controls {
  position: absolute; bottom: 50px; left: 50%;
  transform: translateX(-50%); display: none;
  width: 50%; background: rgba(0,0,0,0.4); gap: 10px;
  padding: 10px; border-radius: 10px; z-index: 1000;
  align-items: center; gap: 10px; color: white;
}

#time-controls button {
  background-color: #00b894; border: none; color: white;
  font-size: 14px; cursor: pointer; border-radius: 5px; padding: 5px 10px;
}
#time-controls button:hover { background-color: #06cc27; }

#time-slider{ flex: 1; padding-left: 10px; padding-right: 10px; }
#time-slider button {
  background-color: #00b894;
  border: none; color: white; padding: 5px 10px;
  font-size: 14px; cursor: pointer; border-radius: 5px;
}
#time-slider button:hover { background-color: #019475; }

.scaler-group{
  display: flex; align-items: center; gap: 8px;
  margin: 5px 5px 5px 0; padding: 2px 5px 2px 5px;
}
.scaler-group button{ cursor: pointer; min-width: 100px; flex: 1; }
.scaler-group input{ width: 100px; align-items: center; text-align: center; }
.hidden { display: none !important; }

.search-box { position: relative;}
.suggestions {
  position: absolute; top: 35px; left: 0; right: 0; background: #fff;
  border: 1px solid #ddd; border-radius: 4px; max-height: 200px;
  overflow-y: auto; z-index: 1000; color: #333; font-size: 12px;
}
.suggestions div { padding: 5px 10px; cursor: pointer; }
.suggestions div:hover { background: #8a8787; }

