html, body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  height: 100%;
}

#menuBtn {
  position: absolute;
  top: 20px;
  left: 20px;
  font-size: 30px;
  color: rgb(17, 17, 17);
  background-color: transparent;
  border: none;
  cursor: pointer;
  z-index: 1000;
}

#map_container {
  position: relative;
  width: 100%;
  height: 100vh;
}

#leaflet_map, #iframe_map {
  position: absolute;
  top: 0; left: 0;
  width: 100%;
  height: 100%;
}

#iframe_map {
  border: none;
  display: none;
}

#offCanvasMenu {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #2c2c2b;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
  z-index: 1050;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#offCanvasMenu a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#offCanvasMenu a:hover {
  color: #f1f1f1;
}

#offCanvasMenu .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

#chartPanel {
  position: fixed;
  bottom: -100%;
  left: 0;
  width: 100%;
  height: 300px;
  background: white;
  box-shadow: 0 -2px 5px rgba(0,0,0,0.2);
  transition: bottom 0.3s ease;
  z-index: 9999;
  padding: 20px;
  overflow: hidden;
  transition: bottom 0.3s ease;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#myChart {
  width: 90%;
  height: 80%;
  margin-top: 20px;
  margin-bottom: 30px;
}

.menu-item-with-submenu {
  position: relative;
}

.menu-item-with-submenu .submenu {
  display: none;
  position: relative;
  background-color: #111;
  padding-left: 20px;
}

.menu-item-with-submenu:hover .submenu {
  display: block;
}

.submenu a {
  display: block;
  padding: 8px 0;
  color: #ccc;
  font-size: 5px;
  text-decoration: none;
}

.submenu a:hover {
  color: white;
}

#loadingOverlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: white;
  z-index: 9999;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 40px;
  }

.spinner {
  border: 8px solid #f3f3f3;
  border-top: 8px solid #3498db;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  animation: spin 1s linear infinite;
  color: #818181;
  z-index: 9999;
  align-content: center;
  justify-content: center;
  }

  @keyframes spin {
  0%   { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
  }

