*, *::before, *::after {
  box-sizing: border-box;
}
html, body {
  margin: 0; padding: 0;
  box-sizing: border-box; height: 100%;
}

header {
  background-color: #71d8e6; position: relative;
  top: 0; left: 0; width: 100%; height: 80px;
  text-align: center; align-items: center;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: #0a0a0a; z-index: 1000; border: 2px solid #f7f7f8;
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
}

#menuBtn {
  position: absolute; top: 10px; left: 10px;
  font-size: 30px; color: rgb(17, 17, 17);
  background-color: transparent;
  border: none; cursor: pointer; z-index: 1000;
}

#right-side-controls {
  position: absolute; top: 90px; right: 10px; display: flex;
  flex-direction: column; align-items: flex-end; gap: 10px; z-index: 1000;
}
#custom_compass_btn {
  background: none; border: none; padding: 0; cursor: pointer;
}
#custom_compass_btn img {
  width: 90px; height: 90px; pointer-events: none; background: none;
}
#right-side-controls .leaflet-control-scale {
  position: relative !important;
  right: 0 !important; top: 0 !important; margin-top: 5px;
}

.custom-colorbar {
  right: auto; top: auto;
}
.colorbar-wrapper {
  display: flex; flex-direction: row; align-items: center;
  gap: 6px; background: rgba(0,0,0,0.6);
  padding: 8px;  border-radius: 6px;
}
.colorbar-title {
  writing-mode: vertical-rl; transform: rotate(180deg);
  font-size: 15px; font-weight: bold; color: white; text-align: center; 
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.colorbar-gradient {
  width: 20px; height: 150px; border: 1px solid #ccc; background:#e0e0e0;
}
.colorbar-labels {
  height: 150px; display: flex; flex-direction: column;
  justify-content: space-between; font-size: 13px;
  color: white; margin-left: 6px; text-align: left;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#offCanvasMenu {
  height: 100%; width: 320px; position: fixed;
  top: 85px; left: 0px; transition: width 0.5s ease;
  background-color: #71d8e6; overflow-x: hidden; 
  z-index: 1050; padding-top: 10px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  border: 2px solid #f7f7f8;
  border-radius: 12px 12px 12px 12px;
  -webkit-user-select: none;
  -moz-user-select: none; 
  -ms-user-select: none;
  user-select: none;
}
#offCanvasMenu a {
  padding: 5px 5px 5px 15px; text-decoration: none;
  font-size: 22px; color: #030303; cursor: pointer;
  display: block; transition: 0.3s;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
#offCanvasMenu a:hover {
  color: #ffffff;
}

#offCanvasMenu .menu-item-with-submenu .submenu a {
  font-size: 17px; padding: 7px 0 0 30px; 
  font-family: 'Segoe UI', Tahoma, sans-serif;
}
#offCanvasMenu .menu-item-with-submenu .submenu-label {
  font-size: 17px; padding: 7px 5px 5px 25px; line-height: 2;
  font-family: 'Segoe UI', Tahoma, sans-serif;
}

#offCanvasMenu .submenu-label:hover {
  color: white; cursor: pointer;
}
#offCanvasMenu .menu-item-with-submenu .submenu .menu-item-with-submenu_1 .submenu_1 a {
  font-size: 15px; padding: 7px 0 0 40px; 
  font-family: 'Segoe UI', Tahoma, sans-serif;
}

.arrow {
  display: inline-block; transition: transform 0.3s ease;
}
.menu-link {
  cursor: pointer; display: flex; 
  justify-content: space-between; align-items: center;
}
.menu-link.active .arrow {
  transform: rotate(90deg); transition: transform 0.3s ease;
}
.submenu {
  display: none;
}
.submenu.open {
  display: block;
}

.arrow_1 {
  display: inline-block; transition: transform 0.3s ease;
}
.menu-link_1 {
  cursor: pointer; display: flex; font-size: 18px !important;
  justify-content: space-between; align-items: center;
}
.menu-link_1.active .arrow_1 {
  transform: rotate(90deg); transition: transform 0.3s ease;
}
.submenu_1 {
  display: none;
}
.submenu_1.open {
  display: block;
}

#map_container {
  position: absolute; width: 100%; height: 100%; top: 0; left: 0;
}
#leaflet_map, #iframe_map {
  position: absolute; top: 0; left: 0;
  width: 100%; height: 100%;
}
#iframe_map {
  border: none; display: none; top: 0; left: 0;
  width: 100%; height: 100%;
}
#time-controls {
  position: absolute; bottom: 50px; left: 50%;
  transform: translateX(-50%); display: flex;
  width: 60%; background: rgba(0,0,0,0.4);
  padding: 10px; border-radius: 10px; z-index: 1000;
  align-items: center; gap: 10px; color: white;
}
#time-slider{
  flex: 1; padding-left: 10px; padding-right: 10px;
}
#time-slider button {
  background-color: #00b894;
  border: none; color: white; padding: 5px 10px;
  font-size: 14px; cursor: pointer; border-radius: 5px;
}
#time-slider button:hover {
  background-color: #019475;
}

#loadingOverlay {
  position: fixed; top: 0; left: 0; width: 100%; height: 100%;
  background-color: rgba(255, 255, 255, 1.0);
  z-index: 9998; display: flex;
  flex-direction: column; align-items: center;
  justify-content: center; font-size: 30px;
  font-family: Arial, Helvetica, sans-serif;
}
.loading-text {
  margin-bottom: 20px; font-size: 24px;
  font-family: Arial, sans-serif;
  color: #333; z-index: 9999;
}
.spinner {
  border: 8px solid #f3f3f3; z-index: 9999;
  border-top: 8px solid #3498db;
  border-radius: 50%; width: 60px; height: 60px;
  animation: spin 1s linear infinite;
}
@keyframes spin {
0%   { transform: rotate(0deg); }
100% { transform: rotate(360deg); }
}

#infoWindow {
  position: fixed; top: 30%; left: 50%; transform: translate(-50%, -50%);
  width: 500px; height: 300px; background-color: #fff; border: 1px solid #999;
  box-shadow: 2px 2px 12px rgba(0,0,0,0.3); min-width: 200px; min-height: 100px;
  display: none; z-index: 2000; resize: both; overflow: auto;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
#infoHeader {
  padding: 8px; background-color: #2c3e50; color: white;
  cursor: move; user-select: none; display: flex;
  justify-content: space-between; align-items: center;
}
#infoContent {
  padding: 10px; max-height: 300px; overflow-y: auto;
}
#infoWindow table {
  width: 100%; border-collapse: collapse;
}
#infoWindow th, #infoWindow td {
  border: 1px solid #ccc; padding: 6px; text-align: left;
}
#closeInfoBtn {
  cursor: pointer; font-size: 20px;
}

#infoPanel {
  position: fixed; bottom: 0; right: 0; width: 300px; 
  background-color: #71d8e6; max-height: 650px; z-index: 1050; 
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  border: 2px solid #f7f7f8; overflow: hidden;
  border-top-left-radius: 12px; transition: max-height 0.5s ease;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
#infoPanel a {
  padding: 5px 5px 5px 15px; text-decoration: none;
  font-size: 22px; color: #030303; cursor: pointer;
  display: block; transition: 0.3s;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
#infoPanel a:hover {
  color: #ffffff;
}
#infoPanel .menu-item-with-submenu .submenu a {
  font-size: 17px; padding: 7px 0 0 30px;
  font-family: 'Segoe UI', Tahoma, sans-serif;
}
#infoPanelHeader {
  background-color: #eef0f3; color: #0a0a0a;
  padding: 5px; text-align: center; font-size: 18px;
  font-weight: bold; cursor: pointer; display: flex;
  justify-content: space-between; align-items: center;
  border: 2px solid #f7f7f8; overflow-y: auto;
}
#infoDetails {
  display: none; background: #373837;
  flex-direction: column; overflow-y: auto;  
  margin-top: 10px; color: white;
  border-top-left-radius: 12px; 
  border-top-right-radius: 12px;
}
#infoDetailsHeader {
  font-weight: bold;  font-size: 15px; text-align: center;
  padding-bottom: 5px; padding-top: 5px;
}
#infoDetailsContent {
  overflow-y: auto; padding-bottom: 15px; font-size: 12px;
  background-color: #192e19; padding-top: 15px;
}
#infoPanel .submenu-item {
  padding-left: 30px; margin-top: 6px;
  display: flex; align-items: center; font-size: 17px;
  font-family: 'Segoe UI', Tahoma, sans-serif;
}

#infoPanel .submenu-label {
  color: #030303; margin-right: 8px;
}

#infoPanel .submenu-item select {
  flex: 1; font-size: 14px; padding: 3px 6px;
  border-radius: 4px; border: 1px solid #ccc;
  font-family: 'Segoe UI', Tahoma, sans-serif;
}

#plotWindow {
  position: fixed; top: 80%; left: 50%; width: 1100px; height: 300px;
  transform: translate(-50%, -50%); background-color: #fff; flex-direction: column;
  box-shadow: 2px 2px 12px rgba(0,0,0,0.3); min-width: 700px; min-height: 200px;
  display: none; z-index: 2100; resize: both; overflow: auto; border: 1px solid #999;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
#plotWindow button {
  cursor: pointer; margin: 5px 5px 5px 5px; background-color: #00b894;
}
#plotWindow button:hover {
  background-color: #019475;
}
#plotWindow label {
  cursor: pointer; margin: 5px 5px 5px 5px;
  font-style: bold; font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
#plotHeader {
  padding: 8px; background-color: #2c3e50; color: white;
  cursor: move; user-select: none; display: flex;
  justify-content: space-between; align-items: center;
}
#closePlotBtn {
  cursor: pointer; font-size: 20px;
}
#plotContainer {
  flex: 1; overflow: hidden; margin: 10px 10px 10px 10px;
}
#myChart {
  width: 100%; height: 100%;
}