<!DOCTYPE html>
<html lang="en">
    <head>
        <title>DigiWater Simulation Platform</title>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="https://unpkg.com/leaflet/dist/leaflet.css">
        <link rel="stylesheet" href="https://unpkg.com/leaflet-compass/dist/leaflet-compass.css">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/nouislider@15.7.1/dist/nouislider.min.css">
        <link rel="stylesheet" href="/static/css/temp_style.css?v=000">
        <link rel="icon" type="image/png" href="/images/Logo.png">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <!-- Add the header -->
        <header class="header">
            <h1>DigiWater Simulation Platform</h1>
        </header>
        <!-- Add the menu button -->
        <button type="button" id="menuBtn">
            <img src="images/menu.png" width="60px" alt="Menu">
        </button>
        <!-- Add the control for the map -->
        <div id="right-side-controls">
            <!-- Add base map button and compass on one row -->
            <div id="custom-map">
                <button type="button" id="custom_map_background_btn">
                    <img src="images/basemap.png?v=1" alt="Basemap">
                </button>
                <button type="button" id="custom_compass_btn">
                    <img src="images/compass.png?v=1"alt="Compass">
                </button>
            </div>
            <!-- Add a popup menu for base map -->
            <div id="basemap-popup">
                <div><strong>Select Base Map</strong></div>
                <button class="basemap-option" data-url="https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png">Open Street Map</button>
                <button class="basemap-option" data-url="https://server.arcgisonline.com/ArcGIS/rest/services/World_Imagery/MapServer/tile/{z}/{y}/{x}">Satellite</button>
                <button class="basemap-option" data-url="https://server.arcgisonline.com/ArcGIS/rest/services/World_Street_Map/MapServer/tile/{z}/{y}/{x}">Street</button>
                <button class="basemap-option" data-url="https://{s}.basemaps.cartocdn.com/light_all/{z}/{x}/{y}{r}.png">Carto Light</button>
                <button class="basemap-option" data-url="https://{s}.basemaps.cartocdn.com/dark_all/{z}/{x}/{y}{r}.png">Carto Dark</button>
            </div>
            <!--Add Color Legend-->
            <div class="custom-colorbar">
                <div class="colorbar-wrapper">
                    <div class="colorbar-title" id="colorbar-title">Legend</div>
                    <div class="colorbar-gradient" id="colorbar-gradient"></div>
                    <div class="colorbar-labels" id="colorbar-labels">
                        <div></div> <!-- max -->
                        <div></div> <!-- 75% -->
                        <div></div> <!-- 50% -->
                        <div></div> <!-- 25% -->
                        <div></div> <!-- min -->
                    </div>
                </div>
            </div>
        </div>
        <!-- Add the left side-bar menu -->
        <div id="offCanvasMenu">
            <a onclick="history.back()">Home</a>
            <!-- Add horizontal rule -->
            <hr style="border-top: 2px solid #080bca; margin: 5px 5px 5px 5px;">
            <a id="infomationObject">General Option</a>
            <a id="projectSummaryOption">Project Summary</a>
            <!-- Point Options -->
            <div class="menu-item-with-submenu">
                <a class="menu-link">Points<span class="arrow">&#x25B8;</span></a>
                <div class="submenu">
                    {% if configuration.points %}
                    <label class="submenu-label">
                        <input type="checkbox" id="stationCheckbox"> Stations</input>
                    </label> <br>
                    {% endif %}
                    <label class="submenu-label">
                        <input type="checkbox" id="pointQuery"> Query Point</input>
                    </label>
                </div>
            </div>
            <!-- Profile Options -->
            <div class="menu-item-with-submenu">
                <a class="menu-link">Profile<span class="arrow">&#x25B8;</span></a>
                <div class="submenu">

                    <!-- Add Path Query -->
                    <label class="submenu-label">
                        <input type="checkbox" id="pathQuery"> Query Profile</input>
                    </label>
                </div>
            </div>
            <!-- Thermocline -->
            {% if configuration.thermocline %}
            <a class="thermocline" data-info="thermocline.json|Depth (m)|Thermocline">Thermocline</a>
            {% endif %}
            <hr style="border-top: 2px solid #080bca; margin: 5px 5px 5px 5px;">
            <a id="infomationObject">Measured Points</a>
            <!-- Global Parameters at Points -->
            <div class="menu-item-with-submenu">
                <a class="menu-link">Global Parameters<span class="arrow">&#x25B8;</span></a>
                <div class="submenu">
                    <!-- Hydrodynamics -->
                    {% if configuration.global_hydrodynamic %}
                    <div class="menu-item-with-submenu-1">
                        <a class="menu-link-1">• Hydrodynamic <span class="arrow-1">&#x25B8;</span></a>
                        <div class="submenu-1">
                            {% if configuration.global_waterlevel %}
                            <a class="function" data-info="waterlevel.json|wl|Water Level (m)|Water Level">- Water Level</a>
                            {% endif %}
                            {% if configuration.global_waterdepth %}
                            <a class="function" data-info="waterdepth.json|wd|Water Depth (m)|Water Depth">- Water Depth</a>
                            {% endif %}
                        </div>
                    </div>
                    {% endif %}
                    <!-- Water Balance -->
                    {% if configuration.global_water_balance %}
                    <div class="menu-item-with-submenu-1">
                        <a class="menu-link-1">• Water Balance <span class="arrow-1">&#x25B8;</span></a>
                        <div class="submenu-1">
                            {% if configuration.global_wb_total_volume %}
                            <a class="function" data-info="water_balance_total_volume.json|wb_tv|Volume (m<sup>3</sup>)|Total Volume">- Total Volume</a>
                            {% endif %}
                            {% if configuration.global_wb_storage %}
                            <a class="function" data-info="water_balance_storage.json|wb_s|Volume (m<sup>3</sup>)|Storage">- Storage</a>
                            {% endif %}
                            {% if configuration.global_wb_inflow_boundaries %}
                            <a class="function" data-info="water_balance_boundaries_in.json|wb_bi|Volume (m<sup>3</sup>)|Inflow from Boundaries">- Inflow from Boundaries</a>
                            {% endif %}
                            {% if configuration.global_wb_outflow_boundaries %}
                            <a class="function" data-info="water_balance_boundaries_out.json|wb_bo|Volume (m<sup>3</sup>)|Outflow from Boundaries">- Outflow from Boundaries</a>
                            {% endif %}
                            {% if configuration.global_wb_total_boundaries %}
                            <a class="function" data-info="water_balance_boundaries_total.json|wb_bt|Volume (m<sup>3</sup>)|Total from Boundaries">- Total from Boundaries</a>
                            {% endif %}
                            {% if configuration.global_wb_total_precipitation %}
                            <a class="function" data-info="water_balance_precipitation_total.json|wb_pt|Volume (m<sup>3</sup>)|Total from Precipitation">- Total from Precipitation</a>
                            {% endif %}
                            {% if configuration.global_wb_total_evaporation %}
                            <a class="function" data-info="water_balance_evaporation.json|wb_e|Volume (m<sup>3</sup>)|Total from Evaporation">- Total from Evaporation</a>
                            {% endif %}
                            {% if configuration.global_wb_source_sink %}
                            <a class="function" data-info="water_balance_source_sink.json|wb_ss|Volume (m<sup>3</sup>)|Source/Sink">- Source/Sink</a>
                            {% endif %}
                            {% if configuration.global_wb_inflow_groundwater %}
                            <a class="function" data-info="water_balance_groundwater_in.json|wb_gi|Volume (m<sup>3</sup>)|Inflow from Groundwater">- Inflow from Groundwater</a>
                            {% endif %}
                            {% if configuration.global_wb_outflow_groundwater %}
                            <a class="function" data-info="water_balance_groundwater_out.json|wb_go|Volume (m<sup>3</sup>)|Outflow from Groundwater">- Outflow from Groundwater</a>
                            {% endif %}
                            {% if configuration.global_wb_total_groundwater %}
                            <a class="function" data-info="water_balance_groundwater_total.json|wb_gt|Volume (m<sup>3</sup>)|Total from Groundwater">- Total from Groundwater</a>
                            {% endif %}
                            {% if configuration.global_wb_ground_precipitation %}
                            <a class="function" data-info="water_balance_precipitation_on_ground.json|wb_pg|Volume (m<sup>3</sup>)|Precipitation on Ground">- Precipitation on Ground</a>
                            {% endif %}
                            {% if configuration.global_wb_volume_error %}
                            <a class="function" data-info="water_balance_volume_error.json|wb_ve|Volume Error (%)|Volume Error">- Volume Error</a>
                            {% endif %}
                        </div>
                    </div>
                    {% endif %}
                    <!-- Meteorological -->
                    {% if configuration.global_meteorology %}
                    <div class="menu-item-with-submenu-1">
                        <a class="menu-link-1">• Meteorology <span class="arrow-1">&#x25B8;</span></a>
                        <div class="submenu-1">
                            {% if configuration.global_total_heat_flux %}
                            <a class="function" data-info="total_heat_flux.json|thf|THF (W/m<sup>2</sup>)|Total Heat Flux">- Total Heat Flux</a>
                            {% endif %}
                            {% if configuration.global_precipitation_rate %}
                            <a class="function" data-info="precipitation_rate.json|pr|Precipitation rate (mm/day)|Precipitation Rate">- Precipitation Rate</a>
                            {% endif %}
                            {% if configuration.global_wind_speed %}
                            <a class="function" data-info="wind_speed.json|ws|Wind speed (m/s)|Wind Speed">- Wind Speed</a>
                            {% endif %}
                            {% if configuration.global_air_temperature %}
                            <a class="function" data-info="air_temperature.json|at|Air Temperature (°C)|Air Temperature">- Air Temperature</a>
                            {% endif %}
                            {% if configuration.global_relative_humidity %}
                            <a class="function" data-info="relative_humidity.json|rh|Relative Humidity (%)|Relative Humidity">- Relative Humidity</a>
                            {% endif %}
                            {% if configuration.global_solar_influx %}
                            <a class="function" data-info="solar_influx.json|si|Solar Influx (W/m<sup>2</sup>)|Solar Influx">- Solar Influx</a>
                            {% endif %}
                            {% if configuration.evaporative_heat_flux %}
                            <a class="function" data-info="evaporative_heat_flux.json|ehf|EHF (W/m<sup>2</sup>)|Evaporative Heat Flux">- Evaporative Heat Flux</a>
                            {% endif %}
                            {% if configuration.global_free_convection_evaporative_heat_flux %}
                            <a class="function" data-info="free_convection_evaporative_heat_flux.json|fcehf|FCEHF (W/m<sup>2</sup>)|Free Convection Evaporative Heat Flux">- Free Convection Evaporative Heat Flux</a>
                            {% endif %}
                            {% if configuration.global_sensible_heat_flux %}
                            <a class="function" data-info="sensible_heat_flux.json|shf|Sensible Heat Flux (W/m<sup>2</sup>)|Sensible Heat Flux">- Sensible Heat Flux</a>
                            {% endif %}
                            {% if configuration.global_free_convection_sensible_heat_flux %}
                            <a class="function" data-info="free_convection_sensible_heat_flux.json|fcshf|FCSHF (W/m<sup>2</sup>)|Free Convection Sensible Heat Flux">- Free Convection Sensible Heat Flux</a>
                            {% endif %}
                            {% if configuration.global_long_wave_back_radiation %}
                            <a class="function" data-info="long_wave_back_radiation.json|lwbr|LWBR (W/m<sup>2</sup>)|Long Wave Back Radiation">- Long Wave Back Radiation</a>
                            {% endif %}
                            {% if configuration.global_cloudiness %}
                            <a class="function" data-info="cloudiness.json|cloudiness|Cloudiness (%)|Cloudiness">- Cloudiness</a>
                            {% endif %}
                        </div>
                    </div>
                    {% endif %}
                </div>
            </div>
            <!-- Water Quality at Points -->
            {% if configuration.wq_his %}
            <div class="menu-item-with-submenu">
                <a class="menu-link">Water Quality<span class="arrow">&#x25B8;</span></a>
                <div class="submenu">
                    <!-- Particulate Organic -->
                    {% if configuration.wq_his_fdf %}
                    <div class="menu-item-with-submenu-1">
                        <a class="menu-link-1">• Fast Decomposing Fraction<span class="arrow-1">&#x25B8;</span></a>
                        <div class="submenu-1">
                            {% if configuration.wq_his_DetC %}
                            <a class="function" data-info="fdf_carbon_water_quality.json|fdf_POC_wq|POC1 (gC/m³)|Fast Decomposing Fraction - Carbon">- Carbon</a>
                            {% endif %}
                            {% if configuration.wq_his_DetN %}
                            <a class="function" data-info="fdf_nitrogen_water_quality.json|fdf_PON_wq|PON1 (gN/m³)|Fast Decomposing Fraction - Nitrogen">- Nitrogen</a>
                            {% endif %}
                            {% if configuration.wq_his_DetP %}
                            <a class="function" data-info="fdf_phosphate_water_quality.json|fdf_POP_wq|POP1 (gP/m³)|Fast Decomposing Fraction - Phosphate">- Phosphate</a>
                            {% endif %}
                        </div>
                    </div>
                    {% endif %}                    
                    <!-- Dissolved Form -->
                    {% if configuration.wq_his_df %}
                    <div class="menu-item-with-submenu-1">
                        <a class="menu-link-1">• Dissolved Form<span class="arrow-1">&#x25B8;</span></a>
                        <div class="submenu-1">
                            {% if configuration.wq_his_NH4 %}
                            <a class="function" data-info="dissolved_ammonium_water_quality.json|df_NH4_wq|NH₄ (gN/m³)|Dissolved Form - Ammonium (NH₄)">- Ammonium (NH₄)</a>
                            {% endif %}
                            {% if configuration.wq_his_NO3 %}
                            <a class="function" data-info="dissolved_nitrate_water_quality.json|df_NO3_wq|NO₃ (gN/m³)|Dissolved Form - Nitrate (NO₃)">- Nitrate (NO₃)</a>
                            {% endif %}
                            {% if configuration.wq_his_PO4 %}
                            <a class="function" data-info="dissolved_phosphate_water_quality.json|df_PO4_wq|PO₄ (gP/m³)|Dissolved Form - Ortho-Phosphate (PO₄)">- Ortho-Phosphate (PO₄)</a>
                            {% endif %}
                            {% if configuration.wq_his_OXY %}
                            <a class="function" data-info="dissolved_oxygen_water_quality.json|df_DO_wq|DO (g/m³)|Dissolved Form - Oxygen">- Dissolved Oxygen</a>
                            {% endif %}
                            {% if configuration.wq_his_Cl %}
                            <a class="function" data-info="dissolved_chloride_water_quality.json|df_Chl_wq|Chloride (g/m³)|Dissolved Form - Chloride">- Chloride</a>
                            {% endif %}
                        </div>
                    </div>
                    {% endif %}
                    <!-- Nitrogen -->
                    {% if configuration.wq_his_nitrogen %}
                    <div class="menu-item-with-submenu-1">
                        <a class="menu-link-1">• Nitrogen<span class="arrow-1">&#x25B8;</span></a>
                        <div class="submenu-1">
                            {% if configuration.wq_his_nitrogen_total %}
                            <a class="function" data-info="total_nitrogen_water_quality.json|nitrogen_total_wq|Nitrogen (gN/m³)|Total Nitrogen (including Algae) ">- Total Nitrogen</a>
                            {% endif %}
                            {% if configuration.wq_his_nitrogen_algae %}
                            <a class="function" data-info="nitrogen_algae_water_quality.json|nitrogen_algae_wq|AlgN (gN/m³)|Total Nitrogen in Algae">- Total Nitrogen (in Algae)</a>
                            {% endif %}
                            {% if configuration.wq_his_nitrogen_algae %}
                            <a class="function" data-info="kjeldahl_nitrogen_water_quality.json|nitrogen_kjeldahl_wq|Kjeldahl Nitrogen (gN/m³)|Kjeldahl Nitrogen">- Kjeldahl</a>
                            {% endif %}
                        </div>
                    </div>
                    {% endif %}
                    <!-- Phosphorus -->
                    {% if configuration.wq_his_phosphorus %}
                    <div class="menu-item-with-submenu-1">
                        <a class="menu-link-1">• Phosphorus<span class="arrow-1">&#x25B8;</span></a>
                        <div class="submenu-1">
                            {% if configuration.wq_his_phosphorus_total %}
                            <a class="function" data-info="total_phosphorus_water_quality.json|phosphorus_total_wq|Phosphorus (gP/m³)|Total Phosphorus">- Total Phosphorus</a>
                            {% endif %}
                            {% if configuration.wq_his_phosphorus_algae %}
                            <a class="function" data-info="phosphorus_algae_water_quality.json|phosphorus_algae_wq|AlgP (gP/m³)|Total Phosphorus in Algae">- Total Phosphorus (in Algae)</a>
                            {% endif %}
                        </div>
                    </div>
                    {% endif %}
                    <!-- Limitation Function for Greens -->
                    {% if configuration.wq_his_greens %}
                    <div class="menu-item-with-submenu-1">
                        <a class="menu-link-1">• Limitation Function for Greens<span class="arrow-1">&#x25B8;</span></a>
                        <div class="submenu-1">
                            {% if configuration.wq_his_daylength %}
                            <a class="function" data-info="daylength_greens_water_quality.json|daylength_greens_wq|Daylength <0-1>|Limitation Function for Greens - Daylength">- Daylength</a>
                            {% endif %}
                            {% if configuration.wq_his_nutrient %}
                            <a class="function" data-info="nutrient_greens_water_quality.json|nutrient_greens_wq|Nutrient <0-1>|Limitation Function for Greens - Nutrient">- Nutrient</a>
                            {% endif %}
                            {% if configuration.wq_his_radiation %}
                            <a class="function" data-info="radiation_greens_water_quality.json|radiation_greens_wq|Radiation <0-1>|Limitation Function for Greens - Radiation">- Radiation</a>
                            {% endif %}
                        </div>
                    </div>
                    {% endif %}
                    <!-- Other Functions -->
                    {% if configuration.wq_his_aap %}
                    <a class="function" data-info="adsorbed_ortho_phosphate_water_quality.json|adsorbed_ortho_phosphate_wq|AOP (gP/m³)|Adsorbed Ortho Phosphate">• Adsorbed Ortho Phosphate</a>
                    {% endif %}
                    {% if configuration.wq_his_dyamo %}
                    <a class="function" data-info="dyamo_water_quality.json|dyamo_wq|DYNAMO (gC/m³)|Algae (non-Diatoms)">• Algae (non-Diatoms) (DYNAMO)</a>
                    {% endif %}
                    {% if configuration.wq_his_organic %}
                    <a class="function" data-info="inorganic_matter_water_quality.json|inorganic_matter_wq|IM (gDM/m³)|Inorganic Matter">• Inorganic Matter</a>
                    {% endif %}
                    {% if configuration.wq_his_opal_si %}
                    <a class="function" data-info="opal_si_water_quality.json|opal_si_wq|Opal-Si (gSi/m³)|Opal-bound Silica">• Opal-bound Silica</a>
                    {% endif %}
                    {% if configuration.wq_his_sediment %}
                    <a class="function" data-info="sediment_oxygen_water_quality.json|sediment_oxygen_wq|SOD (gO₂/m²)|Sediment Oxygen Demand">• Sediment Oxygen Demand</a>
                    {% endif %}
                    {% if configuration.wq_his_suspend %}
                    <a class="function" data-info="suspended_solids_water_quality.json|suspended_solids_wq|SS (g/m³)|Suspended Solids">• Suspended Solids</a>
                    {% endif %}
                    {% if configuration.wq_his_chlorophyll %}
                    <a class="function" data-info="chlorophyll_water_quality.json|chlorophyll_wq|Chlorophyll-a (mg/m³)|Chlorophyll-a Concentration">• Chlorophyll-a Concentration</a>
                    {% endif %}
                    {% if configuration.wq_his_extinction %}
                    <a class="function" data-info="extinction_phytoplankton_water_quality.json|extinction_phytoplankton_wq|Chlorophyll-VLEP (1/m)|Volume Extinction by Phytoplankton (VLEP)">• VL Extinction by Phytoplankton (VLEP)</a>
                    {% endif %}
                </div>
            </div>
            {% endif %}
            <hr style="border-top: 2px solid #080bca; margin: 5px 5px 5px 5px;">
            <!-- Dynamic Maps -->
            <a id="infomationObject">Dynamic Map</a>
            <!-- Add Vector Option -->
            <div style="padding: 0 5px 0 10px; font-size: 17px; display: flex;">
                <span style="margin: 5px 5px 5px 5px;">Vector:</span>
                <select id="vector-object-main" style="flex: 1; margin: 5px 5px 5px 5px; align-items: center;">
                    <option value="" disabled selected hidden>-- No Selected --</option>
                </select>
                <select id="vector-object-submain" style="display: none; margin: 5px 5px 5px 5px; flex: 1;">
                    <option value="" disabled selected hidden>-- No Selected --</option>
                </select>
            </div>
            <hr style="border-top: 1px solid #000000; margin: 5px 30px 5px 30px;">
            <!-- Hydrodynamics -->
            {% if configuration.spatial_hydrodynamic %}
            <div class="menu-item-with-submenu">
                <a class="menu-link">Hydrodynamic <span class="arrow">&#x25B8;</span></a>
                <div class="submenu">
                    {% if configuration.hydrodynamic_waterlevel_dynamic %}
                    <a class="map2D_dynamic" data-info="water_level_dynamic.geojson|wl_dynamic|Water Level (m)|depth">• Water Level</a>
                    {% endif %}
                    {% if configuration.hydrodynamic_waterdepth_dynamic %}
                    <a class="map2D_dynamic" data-info="water_depth_dynamic.geojson|wd_dynamic|Water Depth (m)|depth">• Water Depth</a>
                    {% endif %}
                    <!-- <a >• Velocity (2D)</a>
                    <a >• Velocity (3D)</a>
                    <a >• Sediment Thickness</a> -->
                </div>
            </div>
            {% endif %}
            <!-- Physical -->
            {% if configuration.spatial_physical %}
            <div class="menu-item-with-submenu">
                <a class="menu-link">Physical <span class="arrow">&#x25B8;</span></a>
                <div class="submenu">
                    {% if configuration.thermocline %}
                    <a class="map2D_dynamic" data-info="temperature_multilayers.geojson|temp_multi_dynamic|Temperature (°C)|temperature">• Temperature</a>
                    {% endif %}
                    {% if configuration.spatial_salinity %}
                    <a class="map2D_dynamic" data-info="salinity_multilayers.geojson|sal_multi_dynamic|Salinity (ppt)|salinity">• Salinity</a>
                    {% endif %}
                    {% if configuration.spatial_contaminant %}
                    <a class="map2D_dynamic" data-info="contaminant_multilayers.geojson|cont_multi_dynamic|Contaminant (g/L)|contaminant">• Contaminant</a>
                    {% endif %}
                </div>
            </div>
            {% endif %}
            <!-- Water Quality Map-->
            {% if configuration.wq_map %}
            <div class="menu-item-with-submenu">
                <a class="menu-link">Water Quality <span class="arrow">&#x25B8;</span></a>
                <div class="submenu">
                    <!-- Particulate Organic -->
                    {% if configuration.wq_map_fdf %}
                    <div class="menu-item-with-submenu-1">
                        <a class="menu-link-1">• Fast Decomposing Fraction<span class="arrow-1">&#x25B8;</span></a>
                        <div class="submenu-1">
                            {% if configuration.wq_map_DetC %}
                            <select>
                                <option value="" disabled selected hidden>-- No Selected --</option>
                            </select>
                            <a class="function" data-info="fdf_carbon_water_quality.json|fdf_POC_wq|POC1 (gC/m³)|Fast Decomposing Fraction - Carbon">- Carbon</a>
                            {% endif %}
                            {% if configuration.wq_map_DetN %}
                            <a class="function" data-info="fdf_nitrogen_water_quality.json|fdf_PON_wq|PON1 (gN/m³)|Fast Decomposing Fraction - Nitrogen">- Nitrogen</a>
                            {% endif %}
                            {% if configuration.wq_map_DetP %}
                            <a class="function" data-info="fdf_phosphate_water_quality.json|fdf_POP_wq|POP1 (gP/m³)|Fast Decomposing Fraction - Phosphate">- Phosphate</a>
                            {% endif %}
                        </div>
                    </div>
                    {% endif %}                    
                    <!-- Dissolved Form -->
                    {% if configuration.wq_his_df %}
                    <div class="menu-item-with-submenu-1">
                        <a class="menu-link-1">• Dissolved Form<span class="arrow-1">&#x25B8;</span></a>
                        <div class="submenu-1">
                            {% if configuration.wq_his_NH4 %}
                            <a class="function" data-info="dissolved_ammonium_water_quality.json|df_NH4_wq|NH₄ (gN/m³)|Dissolved Form - Ammonium (NH₄)">- Ammonium (NH₄)</a>
                            {% endif %}
                            {% if configuration.wq_his_NO3 %}
                            <a class="function" data-info="dissolved_nitrate_water_quality.json|df_NO3_wq|NO₃ (gN/m³)|Dissolved Form - Nitrate (NO₃)">- Nitrate (NO₃)</a>
                            {% endif %}
                            {% if configuration.wq_his_PO4 %}
                            <a class="function" data-info="dissolved_phosphate_water_quality.json|df_PO4_wq|PO₄ (gP/m³)|Dissolved Form - Ortho-Phosphate (PO₄)">- Ortho-Phosphate (PO₄)</a>
                            {% endif %}
                            {% if configuration.wq_his_OXY %}
                            <a class="function" data-info="dissolved_oxygen_water_quality.json|df_DO_wq|DO (g/m³)|Dissolved Form - Oxygen">- Dissolved Oxygen</a>
                            {% endif %}
                            {% if configuration.wq_his_Cl %}
                            <a class="function" data-info="dissolved_chloride_water_quality.json|df_Chl_wq|Chloride (g/m³)|Dissolved Form - Chloride">- Chloride</a>
                            {% endif %}
                        </div>
                    </div>
                    {% endif %}
                    <!-- Nitrogen -->
                    {% if configuration.wq_his_nitrogen %}
                    <div class="menu-item-with-submenu-1">
                        <a class="menu-link-1">• Nitrogen<span class="arrow-1">&#x25B8;</span></a>
                        <div class="submenu-1">
                            {% if configuration.wq_his_nitrogen_total %}
                            <a class="function" data-info="total_nitrogen_water_quality.json|nitrogen_total_wq|Nitrogen (gN/m³)|Total Nitrogen (including Algae) ">- Total Nitrogen</a>
                            {% endif %}
                            {% if configuration.wq_his_nitrogen_algae %}
                            <a class="function" data-info="nitrogen_algae_water_quality.json|nitrogen_algae_wq|AlgN (gN/m³)|Total Nitrogen in Algae">- Total Nitrogen (in Algae)</a>
                            {% endif %}
                            {% if configuration.wq_his_nitrogen_algae %}
                            <a class="function" data-info="kjeldahl_nitrogen_water_quality.json|nitrogen_kjeldahl_wq|Kjeldahl Nitrogen (gN/m³)|Kjeldahl Nitrogen">- Kjeldahl</a>
                            {% endif %}
                        </div>
                    </div>
                    {% endif %}
                    <!-- Phosphorus -->
                    {% if configuration.wq_his_phosphorus %}
                    <div class="menu-item-with-submenu-1">
                        <a class="menu-link-1">• Phosphorus<span class="arrow-1">&#x25B8;</span></a>
                        <div class="submenu-1">
                            {% if configuration.wq_his_phosphorus_total %}
                            <a class="function" data-info="total_phosphorus_water_quality.json|phosphorus_total_wq|Phosphorus (gP/m³)|Total Phosphorus">- Total Phosphorus</a>
                            {% endif %}
                            {% if configuration.wq_his_phosphorus_algae %}
                            <a class="function" data-info="phosphorus_algae_water_quality.json|phosphorus_algae_wq|AlgP (gP/m³)|Total Phosphorus in Algae">- Total Phosphorus (in Algae)</a>
                            {% endif %}
                        </div>
                    </div>
                    {% endif %}
                    <!-- Limitation Function for Greens -->
                    {% if configuration.wq_his_greens %}
                    <div class="menu-item-with-submenu-1">
                        <a class="menu-link-1">• Limitation Function for Greens<span class="arrow-1">&#x25B8;</span></a>
                        <div class="submenu-1">
                            {% if configuration.wq_his_daylength %}
                            <a class="function" data-info="daylength_greens_water_quality.json|daylength_greens_wq|Daylength <0-1>|Limitation Function for Greens - Daylength">- Daylength</a>
                            {% endif %}
                            {% if configuration.wq_his_nutrient %}
                            <a class="function" data-info="nutrient_greens_water_quality.json|nutrient_greens_wq|Nutrient <0-1>|Limitation Function for Greens - Nutrient">- Nutrient</a>
                            {% endif %}
                            {% if configuration.wq_his_radiation %}
                            <a class="function" data-info="radiation_greens_water_quality.json|radiation_greens_wq|Radiation <0-1>|Limitation Function for Greens - Radiation">- Radiation</a>
                            {% endif %}
                        </div>
                    </div>
                    {% endif %}
                    <!-- Other Functions -->
                    {% if configuration.wq_his_aap %}
                    <a class="function" data-info="adsorbed_ortho_phosphate_water_quality.json|adsorbed_ortho_phosphate_wq|AOP (gP/m³)|Adsorbed Ortho Phosphate">• Adsorbed Ortho Phosphate</a>
                    {% endif %}
                    {% if configuration.wq_his_dyamo %}
                    <a class="function" data-info="dyamo_water_quality.json|dyamo_wq|DYNAMO (gC/m³)|Algae (non-Diatoms)">• Algae (non-Diatoms) (DYNAMO)</a>
                    {% endif %}
                    {% if configuration.wq_his_organic %}
                    <a class="function" data-info="inorganic_matter_water_quality.json|inorganic_matter_wq|IM (gDM/m³)|Inorganic Matter">• Inorganic Matter</a>
                    {% endif %}
                    {% if configuration.wq_his_opal_si %}
                    <a class="function" data-info="opal_si_water_quality.json|opal_si_wq|Opal-Si (gSi/m³)|Opal-bound Silica">• Opal-bound Silica</a>
                    {% endif %}
                    {% if configuration.wq_his_sediment %}
                    <a class="function" data-info="sediment_oxygen_water_quality.json|sediment_oxygen_wq|SOD (gO₂/m²)|Sediment Oxygen Demand">• Sediment Oxygen Demand</a>
                    {% endif %}
                    {% if configuration.wq_his_suspend %}
                    <a class="function" data-info="suspended_solids_water_quality.json|suspended_solids_wq|SS (g/m³)|Suspended Solids">• Suspended Solids</a>
                    {% endif %}
                    {% if configuration.wq_his_chlorophyll %}
                    <a class="function" data-info="chlorophyll_water_quality.json|chlorophyll_wq|Chlorophyll-a (mg/m³)|Chlorophyll-a Concentration">• Chlorophyll-a Concentration</a>
                    {% endif %}
                    {% if configuration.wq_his_extinction %}
                    <a class="function" data-info="extinction_phytoplankton_water_quality.json|extinction_phytoplankton_wq|Chlorophyll-VLEP (1/m)|Volume Extinction by Phytoplankton (VLEP)">• VL Extinction by Phytoplankton (VLEP)</a>
                    {% endif %}            
                </div>
            </div>
            {% endif %}
            <hr style="border-top: 2px solid #080bca; margin: 5px 5px 5px 5px;">
            <!-- Static Maps-->
            <a id="infomationObject">Static Map</a>
            <!-- Water Depth Static -->
            {% if configuration.waterdepth_static %}
            <a class="map2D_static" data-info="depth_static.geojson|depth_static|depth_Depth (m)|depth">Bed Depth</a>
            {% endif %}
            <!-- <a >• Cell Size</a> -->
            <hr style="border-top: 2px solid #080bca; margin: 5px 5px 5px 5px;">
            <!-- Help -->
            <a class="menu-link" id="help">Help</a>
        </div>
        <!-- Add the map -->
        <div id="map_container">
            <div id="leaflet_map"></div>
            <!-- Add time slider -->
            <div id="time-controls">
                <button id="play-btn">▶ Play</button>
                <div id="time-slider"></div>
                <!-- <button id="export-video-btn">💾 Export Video</button>
                <div id="export-progress-container" style="display:none; margin-top:10px; width: 100%;">
                <div id="export-progress-bar" style="width: 0%; height: 8px; background: limegreen;
                    border-radius: 4px; transition: width 0.2s ease;"></div>
                </div> -->
            </div>
            <div id="loadingOverlay">
                <div class="loading-text">Processing Data. Please wait...</div>
                <div class="spinner"></div>
            </div>
        </div>
        <!-- Add the right side-bar menu -->  
        <div id="infoDetails">
            <div id="infoDetailsHeader">Point Info</div>
            <div id="infoDetailsContent"></div>
        </div>
        <!-- Add a floating window for project summary -->
        <div id="summaryWindow">
            <div id="summaryHeader">Project Summary<span id="closeSummaryOption">×</span></div>
            <div id="summaryContent"></div>
        </div>
        <!-- Add a floating plot window -->
        <div id="plotWindow">
            <div id="plotHeader"><span id="plotTitle">Plot Window</span><span id="closePlotBtn">×</span></div>
            <div style="padding: 0 8px;">
                <label for="select-object">Select:</label>
                <select id="select-object"></select>
                <button type="button" id="viewDataBtn">View Data</button>
                <button type="button" id="downloadExcel">Download Excel</button>
            </div>
            <div id="plotContainer">
                <div id="myChart"></div>
            </div>
        </div>
        <script src="https://cdn.jsdelivr.net/npm/xlsx@0.18.5/dist/xlsx.full.min.js"></script>
        <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"></script>
        <script src="https://unpkg.com/leaflet-compass/dist/leaflet-compass.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/pako/2.1.0/pako.min.js"></script>
        <script src="https://cdn.plot.ly/plotly-2.26.1.min.js"></script>
        <script src="https://unpkg.com/leaflet.vectorgrid@1.3.0/dist/Leaflet.VectorGrid.bundled.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/nouislider@15.7.1/dist/nouislider.min.js"></script>
        <script src="https://cdn.jsdelivr.net/gh/antimatter15/whammy/whammy.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/html2canvas/1.4.1/html2canvas.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/@turf/turf@6/turf.min.js"></script>
        <!-- Load the newest version of the script -->
        <script type="module">
            const script = document.createElement('script');
            script.type = 'module';
            script.src = `/static/js/temp/temp_main.js?v=${Date.now()}`;
            document.body.appendChild(script);
        </script>
    </body>
</html>