<a id="projectSummaryOption">Project Summary</a>
<!-- Point Options -->
<div class="menu">
    <a class="menu-link">Points<span class="arrow">&#x25B8;</span></a>
    <div class="submenu">
        <label class="submenu-label {% if not configuration.hyd_obs %}hidden{% endif %}">
            <input type="checkbox" id="hyd-obs-checkbox">Hydrodynamic Observations
        </label>
        <label class="submenu-label {% if not configuration.sources %}hidden{% endif %}">
            <input type="checkbox" id="sourceCheckbox">Sources/Sinks Locations
        </label>
        <label class="submenu-label">
            <input type="checkbox" id="pointQuery">Query Point
        </label>
    </div>
</div>
<!-- Profile Options -->
<div class="menu">
    <a class="menu-link">Profile<span class="arrow">&#x25B8;</span></a>
    <div class="submenu">
        <label class="submenu-label {% if not configuration.cross_sections %}hidden{% endif %}">
            <input type="checkbox" id="crossSectionCheckbox">Cross-Sections
        </label>
        <!-- Add Path Query -->
        <label class="submenu-label">
            <input type="checkbox" id="pathQuery">Query Profile
        </label>
    </div>
</div>
<!-- Thermocline -->
<a class="thermocline {% if not configuration.thermocline %}hidden{% endif %}" 
    data-info="Depth (m)|Thermocline">Thermocline</a>