<!-- Observation Points -->
<div class="menu {% if not configuration.points %}hidden{% endif %}">
    <a class="menu-link">Observations<span class="arrow">&#x25B8;</span></a>
    <div class="submenu">
        <!-- Hydrodynamics -->
        <div class="menu-1 {% if not configuration.global_hydrodynamic %}hidden{% endif %}">
            <a class="menu-link-1">• Hydrodynamic <span class="arrow-1">&#x25B8;</span></a>
            <div class="submenu-1">
                <a class="function {% if not configuration.global_waterlevel %}hidden{% endif %}" data-info="waterlevel.json|wl|Water Level (m)|Water Level">- Water Level</a>
                <a class="function {% if not configuration.global_waterdepth %}hidden{% endif %}" data-info="waterdepth.json|wd|Water Depth (m)|Water Depth">- Water Depth</a>
            </div>
        </div>
        <!-- Meteorology -->
        <div class="menu-1 {% if not configuration.global_meteorology %}hidden{% endif %}">
            <a class="menu-link-1">• Meteorology <span class="arrow-1">&#x25B8;</span></a>
            <div class="submenu-1">
                <a class="function {% if not configuration.global_total_heat_flux %}hidden{% endif %}" 
                    data-info="total_heat_flux.json|thf|THF (W/m<sup>2</sup>)|Total Heat Flux">- Total Heat Flux</a>
                <a class="function {% if not configuration.global_precipitation_rate %}hidden{% endif %}" 
                    data-info="precipitation_rate.json|pr|Precipitation rate (mm/day)|Precipitation Rate">- Precipitation Rate</a>
                <a class="function {% if not configuration.global_wind_speed %}hidden{% endif %}" 
                    data-info="wind_speed.json|ws|Wind speed (m/s)|Wind Speed">- Wind Speed</a>
                <a class="function {% if not configuration.global_air_temperature %}hidden{% endif %}" 
                    data-info="air_temperature.json|at|Air Temperature (°C)|Air Temperature">- Air Temperature</a>
                <a class="function {% if not configuration.global_relative_humidity %}hidden{% endif %}" 
                    data-info="relative_humidity.json|rh|Relative Humidity (%)|Relative Humidity">- Relative Humidity</a>
                <a class="function {% if not configuration.global_solar_influx %}hidden{% endif %}" 
                    data-info="solar_influx.json|si|Solar Influx (W/m<sup>2</sup>)|Solar Influx">- Solar Influx</a>
                <a class="function {% if not configuration.evaporative_heat_flux %}hidden{% endif %}" 
                    data-info="evaporative_heat_flux.json|ehf|EHF (W/m<sup>2</sup>)|Evaporative Heat Flux">- Evaporative Heat Flux</a>
                <a class="function {% if not configuration.global_free_convection_evaporative_heat_flux %}hidden{% endif %}" 
                    data-info="free_convection_evaporative_heat_flux.json|fcehf|FCEHF (W/m<sup>2</sup>)|Free Convection Evaporative Heat Flux">- Free Convection Evaporative Heat Flux</a>
                <a class="function {% if not configuration.global_sensible_heat_flux %}hidden{% endif %}" 
                    data-info="sensible_heat_flux.json|shf|Sensible Heat Flux (W/m<sup>2</sup>)|Sensible Heat Flux">- Sensible Heat Flux</a>
                <a class="function {% if not configuration.global_free_convection_sensible_heat_flux %}hidden{% endif %}" 
                    data-info="free_convection_sensible_heat_flux.json|fcshf|FCSHF (W/m<sup>2</sup>)|Free Convection Sensible Heat Flux">- Free Convection Sensible Heat Flux</a>
                <a class="function {% if not configuration.global_long_wave_back_radiation %}hidden{% endif %}" 
                    data-info="long_wave_back_radiation.json|lwbr|LWBR (W/m<sup>2</sup>)|Long Wave Back Radiation">- Long Wave Back Radiation</a>
                <a class="function {% if not configuration.global_cloudiness %}hidden{% endif %}" 
                    data-info="cloudiness.json|cloudiness|Cloudiness (%)|Cloudiness">- Cloudiness</a>
            </div>
        </div>
    </div>
</div>

<!-- Sources/Sinks Points -->
<div class="menu {% if not configuration.sources %}hidden{% endif %}">
    <a class="menu-link">Sources/Sinks<span class="arrow">&#x25B8;</span></a>
    <div class="submenu">
        <div class="menu-1 {% if not configuration.source_current_discharge %}hidden{% endif %}">
            <a class="function" data-info="source_current_discharge.json|discharge_source|Current Discharge (m<sup>3</sup>/s)|Current Discharge">• Current Discharge</a>
        </div>
        <div class="menu-1 {% if not configuration.source_average_discharge %}hidden{% endif %}">
            <a class="function" data-info="source_average_discharge.json|avg_discharge_source|Average Discharge (m<sup>3</sup>/s)|Average Discharge">• Average Discharge</a>
        </div>
        <div class="menu-1 {% if not configuration.source_prescribed_discharge %}hidden{% endif %}">
            <a class="function" data-info="source_prescribed_discharge.json|pre_discharge_source|Prescriped Discharge (m<sup>3</sup>/s)|Prescriped Discharge">• Prescriped Discharge</a>
        </div>
        <div class="menu-1 {% if not configuration.source_prescribed_salinity %}hidden{% endif %}">
            <a class="function" data-info="source_prescribed_salinity.json|pre_discharge_increment_source|Prescriped Salinity Increment (%)|Prescriped Salinity Increment">• Prescriped Salinity Increment</a>
        </div>
        <div class="menu-1 {% if not configuration.source_prescribed_temperature %}hidden{% endif %}">
            <a class="function" data-info="source_prescribed_temperature.json|pre_temperature_increment_source|Prescriped Temperature Increment (°C)|Prescriped Temperature Increment">• Prescriped Temperature Increment</a>
        </div>
        <div class="menu-1 {% if not configuration.source_cumulative_volume %}hidden{% endif %}">
            <a class="function" data-info="source_cumulative_volume.json|cumulative_volume_source|Cumulative Volume (m<sup>3</sup>)|Cumulative Volume">• Cumulative Volume</a>
        </div>
    </div>
</div>

<!-- Cross Sections -->
<div class="menu {% if not configuration.cross_sections %}hidden{% endif %}">
    <a class="menu-link">Cross-Sections<span class="arrow">&#x25B8;</span></a>
    <div class="submenu">
        <div class="menu-1 {% if not configuration.cross_sections_velocity %}hidden{% endif %}">
            <a class="function" data-info="cross_sections_velocity.json|velocity_crs|Velocity (m/s)|Velocity">• Velocity</a>
        </div>
        <div class="menu-1 {% if not configuration.cross_sections_area %}hidden{% endif %}">
            <a class="function" data-info="cross_sections_area.json|area_crs|Area (m<sup>2</sup>)|Area">• Area</a>
        </div>
        <div class="menu-1 {% if not configuration.cross_sections_discharge %}hidden{% endif %}">
            <a class="function" data-info="cross_sections_discharge.json|discharge_crs|Discharge (m<sup>3</sup>/s)|Discharge">• Discharge</a>
        </div>
        <div class="menu-1 {% if not configuration.cross_sections_cumulative_discharge %}hidden{% endif %}">
            <a class="function" data-info="cross_sections_cumulative_discharge.json|culdis_crs|Cumulative Discharge (m<sup>3</sup>)|Cumulative Discharge">• Cumulative Discharge</a>
        </div>
        <div class="menu-1 {% if not configuration.cross_section_salt %}hidden{% endif %}">
            <a class="function" data-info="cross_section_salt.json|salt_crs|Salinity (%)|Salinity">• Salinity</a>
        </div>
        <div class="menu-1 {% if not configuration.cross_sections_cumulative_salt %}hidden{% endif %}">
            <a class="function" data-info="cross_sections_cumulative_salt.json|cumsalt_crs|Cumulative Salinity (%)|Cumulative Salinity">• Cumulative Salinity</a>
        </div>
        <div class="menu-1 {% if not configuration.cross_section_temperature %}hidden{% endif %}">
            <a class="function" data-info="cross_section_temperature.json|temp_crs|Temperature (°C)|Temperature">• Temperature</a>
        </div>
        <div class="menu-1 {% if not configuration.cross_section_cumulative_temperature %}hidden{% endif %}">
            <a class="function" data-info="cross_section_cumulative_temperature.json|cumtemp_crs|Cumulative Temperature (°C)|Cumulative Temperature">• Cumulative Temperature</a>
        </div>
        <div class="menu-1 {% if not configuration.cross_section_contaminant %}hidden{% endif %}">
            <a class="function" data-info="cross_section_contaminant.json|cont_crs|Contaminant (mg/L)|Contaminant">• Contaminant</a>
        </div>
        <div class="menu-1 {% if not configuration.cross_section_cumulative_contaminant %}hidden{% endif %}">
            <a class="function" data-info="cross_section_cumulative_contaminant.json|cumcont_crs|Cumulative Contaminant (mg/L)|Cumulative Contaminant">• Cumulative Contaminant</a>
        </div>
    </div>
</div>

<!-- Water Balance -->
<div class="menu {% if not configuration.global_water_balance %}hidden{% endif %}">
    <a class="menu-link">Water Balance<span class="arrow">&#x25B8;</span></a>
    <div class="submenu">
        <div class="menu-1 {% if not configuration.global_wb_total_volume %}hidden{% endif %}">
            <a class="function" data-info="water_balance_total_volume.json|wb_tv|Volume (m<sup>3</sup>)|Total Volume">• Total Volume</a>
        </div>
        <div class="menu-1 {% if not configuration.global_wb_storage %}hidden{% endif %}">
            <a class="function" data-info="water_balance_storage.json|wb_s|Volume (m<sup>3</sup>)|Storage">• Storage</a>
        </div>
        <div class="menu-1 {% if not configuration.global_wb_inflow_boundaries %}hidden{% endif %}">
            <a class="function" data-info="water_balance_boundaries_in.json|wb_bi|Volume (m<sup>3</sup>)|Inflow from Boundaries">• Inflow from Boundaries</a>
        </div>
        <div class="menu-1 {% if not configuration.global_wb_outflow_boundaries %}hidden{% endif %}">
            <a class="function" data-info="water_balance_boundaries_out.json|wb_bo|Volume (m<sup>3</sup>)|Outflow from Boundaries">• Outflow from Boundaries</a>
        </div>
        <div class="menu-1 {% if not configuration.global_wb_total_boundaries %}hidden{% endif %}">
            <a class="function" data-info="water_balance_boundaries_total.json|wb_bt|Volume (m<sup>3</sup>)|Total from Boundaries">• Total from Boundaries</a>
        </div>
        <div class="menu-1 {% if not configuration.global_wb_total_precipitation %}hidden{% endif %}">
            <a class="function" data-info="water_balance_precipitation_total.json|wb_pt|Volume (m<sup>3</sup>)|Total from Precipitation">• Total from Precipitation</a>
        </div>
        <div class="menu-1 {% if not configuration.global_wb_total_evaporation %}hidden{% endif %}">
            <a class="function" data-info="water_balance_evaporation.json|wb_e|Volume (m<sup>3</sup>)|Total from Evaporation">• Total from Evaporation</a>
        </div>
        <div class="menu-1 {% if not configuration.global_wb_source_sink %}hidden{% endif %}">
            <a class="function" data-info="water_balance_source_sink.json|wb_ss|Volume (m<sup>3</sup>)|Source/Sink">• Source/Sink</a>
        </div>
        <div class="menu-1 {% if not configuration.global_wb_inflow_groundwater %}hidden{% endif %}">
            <a class="function" data-info="water_balance_groundwater_in.json|wb_gi|Volume (m<sup>3</sup>)|Inflow from Groundwater">• Inflow from Groundwater</a>
        </div>
        <div class="menu-1 {% if not configuration.global_wb_outflow_groundwater %}hidden{% endif %}">
            <a class="function" data-info="water_balance_groundwater_out.json|wb_go|Volume (m<sup>3</sup>)|Outflow from Groundwater">• Outflow from Groundwater</a>
        </div>
        <div class="menu-1 {% if not configuration.global_wb_total_groundwater %}hidden{% endif %}">
            <a class="function" data-info="water_balance_groundwater_total.json|wb_gt|Volume (m<sup>3</sup>)|Total from Groundwater">• Total from Groundwater</a>
        </div>
        <div class="menu-1 {% if not configuration.global_wb_ground_precipitation %}hidden{% endif %}">
            <a class="function" data-info="water_balance_precipitation_on_ground.json|wb_pg|Volume (m<sup>3</sup>)|Precipitation on Ground">• Precipitation on Ground</a>
        </div>
        <div class="menu-1 {% if not configuration.global_wb_volume_error %}hidden{% endif %}">
            <a class="function" data-info="water_balance_volume_error.json|wb_ve|Volume Error (%)|Volume Error">• Volume Error</a>
        </div>
    </div>
</div>

<!-- Water Quality at Points -->
<div class="menu {% if not configuration.wq_his %}hidden{% endif %}">
    <a class="menu-link">Water Quality<span class="arrow">&#x25B8;</span></a>
    <div class="submenu">
        <!-- Particulate Organic -->
        <div class="menu-1 {% if not configuration.wq_his_fdf %}hidden{% endif %}">
            <a class="menu-link-1">• Fast Decomposing Fraction<span class="arrow-1">&#x25B8;</span></a>
            <div class="submenu-1">
                <a class="function {% if not configuration.wq_his_fdf_carbon %}hidden{% endif %}" 
                    data-info="fdf_carbon_water_quality.json|fdf_POC_wq|POC1 (gC/m³)|Fast Decomposing Fraction - Carbon">- Carbon</a>
                <a class="function {% if not configuration.wq_his_fdf_nitrogen %}hidden{% endif %}" 
                    data-info="fdf_nitrogen_water_quality.json|fdf_PON_wq|PON1 (gN/m³)|Fast Decomposing Fraction - Nitrogen">- Nitrogen</a>
                <a class="function {% if not configuration.wq_his_fdf_phosphate %}hidden{% endif %}" 
                    data-info="fdf_phosphate_water_quality.json|fdf_POP_wq|POP1 (gP/m³)|Fast Decomposing Fraction - Phosphate">- Phosphate</a>
            </div>
        </div>
        <!-- Dissolved Form -->
        <div class="menu-1 {% if not configuration.wq_his_df %}hidden{% endif %}">
            <a class="menu-link-1">• Dissolved Form<span class="arrow-1">&#x25B8;</span></a>
            <div class="submenu-1">
                <a class="function {% if not configuration.wq_his_df_ammonium %}hidden{% endif %}" 
                    data-info="dissolved_ammonium_water_quality.json|df_NH4_wq|NH₄ (gN/m³)|Dissolved Form - Ammonium (NH₄)">- Ammonium (NH₄)</a>
                <a class="function {% if not configuration.wq_his_df_nitrate %}hidden{% endif %}" 
                    data-info="dissolved_nitrate_water_quality.json|df_NO3_wq|NO₃ (gN/m³)|Dissolved Form - Nitrate (NO₃)">- Nitrate (NO₃)</a>
                <a class="function {% if not configuration.wq_his_df_phosphate %}hidden{% endif %}" 
                    data-info="dissolved_phosphate_water_quality.json|df_PO4_wq|PO₄ (gP/m³)|Dissolved Form - Ortho-Phosphate (PO₄)">- Ortho-Phosphate (PO₄)</a>
                <a class="function {% if not configuration.wq_his_df_oxygen %}hidden{% endif %}" 
                    data-info="dissolved_oxygen_water_quality.json|df_DO_wq|DO (g/m³)|Dissolved Form - Oxygen">- Dissolved Oxygen</a>
                <a class="function {% if not configuration.wq_his_df_chloride %}hidden{% endif %}" 
                    data-info="dissolved_chloride_water_quality.json|df_Chl_wq|Chloride (g/m³)|Dissolved Form - Chloride">- Chloride</a>
            </div>
        </div>
        <!-- Nitrogen -->
        <div class="menu-1 {% if not configuration.wq_his_nitrogen %}hidden{% endif %}">
            <a class="menu-link-1">• Nitrogen<span class="arrow-1">&#x25B8;</span></a>
            <div class="submenu-1">
                <a class="function {% if not configuration.wq_his_nitrogen_total %}hidden{% endif %}" 
                    data-info="total_nitrogen_water_quality.json|nitrogen_total_wq|Nitrogen (gN/m³)|Total Nitrogen (including Algae) ">- Total Nitrogen</a>
                <a class="function {% if not configuration.wq_his_nitrogen_algae %}hidden{% endif %}" 
                    data-info="nitrogen_algae_water_quality.json|nitrogen_algae_wq|AlgN (gN/m³)|Total Nitrogen in Algae">- Total Nitrogen (in Algae)</a>
                <a class="function {% if not configuration.wq_his_nitrogen_kjeldahl %}hidden{% endif %}" 
                    data-info="kjeldahl_nitrogen_water_quality.json|nitrogen_kjeldahl_wq|Kjeldahl Nitrogen (gN/m³)|Kjeldahl Nitrogen">- Kjeldahl Nitrogen</a>
            </div>
        </div>
        <!-- Phosphorus -->
        <div class="menu-1 {% if not configuration.wq_his_phosphorus %}hidden{% endif %}">
            <a class="menu-link-1">• Phosphorus<span class="arrow-1">&#x25B8;</span></a>
            <div class="submenu-1">
                <a class="function {% if not configuration.wq_his_phosphorus_total %}hidden{% endif %}" 
                    data-info="total_phosphorus_water_quality.json|phosphorus_total_wq|Phosphorus (gP/m³)|Total Phosphorus">- Total Phosphorus</a>
                <a class="function {% if not configuration.wq_his_phosphorus_algae %}hidden{% endif %}"
                    data-info="phosphorus_algae_water_quality.json|phosphorus_algae_wq|AlgP (gP/m³)|Total Phosphorus in Algae">- Total Phosphorus (in Algae)</a>
            </div>
        </div>
        <!-- Limitation Function for Greens -->
        <div class="menu-1 {% if not configuration.wq_his_greens %}hidden{% endif %}">
            <a class="menu-link-1">• Limitation Function for Greens<span class="arrow-1">&#x25B8;</span></a>
            <div class="submenu-1">
                <a class="function {% if not configuration.wq_his_daylength %}hidden{% endif %}" 
                    data-info="daylength_greens_water_quality.json|daylength_greens_wq|Daylength <0-1>|Limitation Function for Greens - Daylength">- Daylength</a>
                <a class="function {% if not configuration.wq_his_nutrient %}hidden{% endif %}" 
                    data-info="nutrient_greens_water_quality.json|nutrient_greens_wq|Nutrient <0-1>|Limitation Function for Greens - Nutrient">- Nutrient</a>
                <a class="function {% if not configuration.wq_his_radiation %}hidden{% endif %}" 
                    data-info="radiation_greens_water_quality.json|radiation_greens_wq|Radiation <0-1>|Limitation Function for Greens - Radiation">- Radiation</a>
            </div>
        </div>
        <!-- Other Functions -->
        <div class="menu-1 {% if not configuration.wq_his_aap %}hidden{% endif %}">
            <a class="function" data-info="adsorbed_ortho_phosphate_water_quality.json|adsorbed_ortho_phosphate_wq|AOP (gP/m³)|Adsorbed Ortho Phosphate">• Adsorbed Ortho Phosphate</a>
        </div>
        <div class="menu-1 {% if not configuration.wq_his_dyamo %}hidden{% endif %}">
            <a class="function" data-info="dyamo_water_quality.json|dyamo_wq|DYNAMO (gC/m³)|Algae (non-Diatoms)">• Algae (non-Diatoms)</a>
        </div>
        <div class="menu-1 {% if not configuration.wq_his_organic %}hidden{% endif %}">
            <a class="function" data-info="inorganic_matter_water_quality.json|inorganic_matter_wq|IM (gDM/m³)|Inorganic Matter">• Inorganic Matter</a>
        </div>
        <div class="menu-1 {% if not configuration.wq_his_opal_si %}hidden{% endif %}">
            <a class="function" data-info="opal_si_water_quality.json|opal_si_wq|Opal-Si (gSi/m³)|Opal-bound Silica">• Opal-bound Silica</a>
        </div>
        <div class="menu-1 {% if not configuration.wq_his_sediment %}hidden{% endif %}">
            <a class="function" data-info="sediment_oxygen_water_quality.json|sediment_oxygen_wq|SOD (gO₂/m²)|Sediment Oxygen Demand">• Sediment Oxygen Demand</a>
        </div>
        <div class="menu-1 {% if not configuration.wq_his_suspend %}hidden{% endif %}">
            <a class="function" data-info="suspended_solids_water_quality.json|suspended_solids_wq|SS (g/m³)|Suspended Solids">• Suspended Solids</a>
        </div>
        <div class="menu-1 {% if not configuration.wq_his_chlorophyll %}hidden{% endif %}">
            <a class="function" data-info="chlorophyll_water_quality.json|chlorophyll_wq|Chlorophyll-a (mg/m³)|Chlorophyll-a Concentration">• Chlorophyll-a Concentration</a>
        </div>
        <div class="menu-1 {% if not configuration.wq_his_extinction %}hidden{% endif %}">
            <a class="function" data-info="extinction_phytoplankton_water_quality.json|extinction_phytoplankton_wq|Chlorophyll-VLEP (1/m)|Volume Extinction by Phytoplankton (VLEP)">• VL Extinction (Phytoplankton)</a>
        </div>
    </div>
</div>