<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="static/css/project_selection.css?v=10">
</head>
<body>
    <div class="container">
        <!-- Select Project -->
        <div class="row">
            <label for="project">Select Project:</label>
            <select id="project">
                <option value="" selected>--- No selected ---</option>
            </select>
            <button type="button" id="delete-button">Delete Project</button>
        </div>

        <!-- General Options -->
        <fieldset class="groupbox">
            <legend>Hydrodynamic Simulation</legend>
            <div class="input-row">
                <label for="general-option">History NC File (*_his.nc):</label>
                <select id="general-option-his">
                    <option value="" selected>--- No selected ---</option>
                </select>
            </div>
            <div class="input-row">
                <label for="general-option">Map NC File (*_map.nc):</label>
                <select id="general-option-map">
                    <option value="" selected>--- No selected ---</option>
                </select>
            </div>
        </fieldset>

        <!-- Water Quality Options -->
        <fieldset class="groupbox">
            <legend>Water Quality Simulation</legend>
            <div class="input-row">
                <label for="water-quality">History NC File (*_his.nc):</label>
                <select id="water-quality-his">
                    <option value="" selected>--- No selected ---</option>
                </select>
            </div>
            <div class="input-row">
                <label for="water-quality">Map NC File (*_map.nc):</label>
                <select id="water-quality-map">
                    <option value="" selected>--- No selected ---</option>
                </select>
            </div>
        </fieldset>

        <!-- Button -->
        <div class="btn-row">
            <button type="button" id="button">Open Project</button>
        </div>
    </div>
    <!-- Load the newest version of the script -->
    <script type="module">
        const script = document.createElement('script');
        script.type = 'module';
        script.src = `/static/js/projectSelector.js?v=${Date.now()}`;
        document.body.appendChild(script);
    </script>
</body>
</html>
