<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=2" />
  <link rel="stylesheet" href="static/css/projectHYDCreator.css?v=123">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
</head>
<body>
  <div class="wrapper">
    <div class="page-title">
      <label for="project-name">Project Name</label>
      <div id="project-name-wrapper">
        <input type="text" id="project-name" placeholder="Enter project name">
        <ul id="project-list"></ul>
      </div>
      <button class="tab-btn" id="create-project-button">Create Project<span class="ink"></span></button>
    </div>
    <section class="card tabs" id="desription-tab" style="margin-left: 15px; margin-right: 15px;">
      <p style="text-align: center; font-weight: bold; font-size: 20px;">
        To quickly create a new project, you should prepare the following data in advance:
      </p>
      <ul style="text-align: left; margin-left: 80px; line-height: 2.5;">
        <li>A clear and easy-to-remember project name</li>
        <li>A grid file with bathymetry included</li>
        <li>List of measured points/Cross-Section (inside the grid)</li>
        <li>Time-series data for Boundary conditions</li>
        <li>Time-series data for Sources/Sinks</li>
        <li>Time-series data for Meteorological data/weather data</li>
        <li>Time format: YYYY-MM-DD HH:MM:SS</li>
      </ul>
    </section>
    <section class="card tabs" id="parent-tab" style="display: none;">
      <div class="tabs__header" id="main-tabs">
        <div class="tabs__list">
          <button class="tab-btn" data-tab="model-settings">Model Settings<span class="ink"></span></button>
          <button class="tab-btn" data-tab="hydro-meteo">Hydro and Meteo Parameters<span class="ink"></span></button>
          <button class="tab-btn" data-tab="output-settings">Output Parameters<span class="ink"></span></button>
        </div>
      </div>
      <div class="tabs__content">
        <!-- Tab 1: Model Settings -->
        <div class="tabpanel main-panel" data-panel="model-settings">
          <!-- Sub Tabs -->
          <div class="card tabs tabs--sub">
            <div class="tabs__header">
              <div class="tabs__list">
                <button class="tab-btn" data-tab="model-setting-1">General<span class="ink"></span></button>
                <button class="tab-btn" data-tab="model-setting-2">Time Frame<span class="ink"></span></button>
                <button class="tab-btn" data-tab="model-setting-3">Observations<span class="ink"></span></button>
                <button class="tab-btn" data-tab="model-setting-4">Boundary Conditions<span class="ink"></span></button>
                <button class="tab-btn" data-tab="model-setting-5">Other Parameters<span class="ink"></span></button>
              </div>
            </div>
            <div class="tabs__content">
              <div class="tabpanel" data-panel="model-setting-1">
                <div class="grid">
                  <!-- Location -->
                  <div class="tile"><h3>Location</h3>
                    <div class="row">
                      <label for="latitude">Avg. latitude (°):</label>
                      <input type="text" id="latitude" placeholder="Enter latitude">
                    </div>
                    <div class="row">
                      <button type="button" id="location-picker">Pick from map</button>
                    </div>
                  </div>
                  <!-- Layer -->
                  <div class="tile"><h3>Layers</h3>
                    <div class="row">
                      <label for="n-layer">Nr. sigma layers:</label>
                      <input type="number" id="n-layer" placeholder="Enter number of layers" value=10 min=1>
                    </div>
                  </div>
                  <!-- Unstructured grid -->
                  <div class="tile"><h3>Grid</h3>
                    <div class="row">
                      <label for="unstructured-grid">Upload grid:</label>
                      <input type="file" id="unstructured-grid" accept=".nc">
                    </div>
                  </div>
                  <div class="tile"><h3>Grid Generation</h3>
                    <div class="row">
                      <button type="button" id="activate-grid">Activate Delft3D RGFGRID Tool</button>
                    </div>
                  </div>
                </div>
              </div>
              <div class="tabpanel" data-panel="model-setting-2">
                <div class="grid">
                  <div class="tile"><h3>Simulation time</h3>
                    <div class="row">
                      <label for="start-date">Start time:</label>
                      <input type="text" class="datetime" id="start-date" placeholder="YYYY-mm-dd HH:mm:ss">
                    </div>
                    <div class="row">
                      <label for="stop-date">Stop time:</label>
                      <input type="text" class="datetime" id="stop-date" placeholder="YYYY-mm-dd HH:mm:ss">
                    </div>                                    
                  </div>
                  <div class="tile"><h3>Time interval</h3>
                    <div class="row-block">
                      <label for="user-text">User time step:</label>
                      <input type="text" id="user-time-step-date" value="0">
                      <label for="user-time-step-date">days</label>
                      <input type="text" class="datetime-interval" id="user-time-step-time" value="01:00:00">
                    </div>
                    <div class="row-block">
                      <label for="user-text">Nodal update interval:</label>
                      <input type="text" id="nodal-update-interval-date" value="0">
                      <label for="nodal-update-interval-date">days</label>
                      <input type="text" class="datetime-interval" id="nodal-update-interval-time" value="08:00:00">
                    </div>
                  </div>
                </div>
              </div>
              <div class="tabpanel" data-panel="model-setting-3">
                <div class="grid">
                  <div class="tile"><h3>Observation Points</h3>
                    <div class="row-radio" data-tab="observation-point-new">
                      <input type="radio" id="observation-point-new" name="observation" value="1" checked=true>
                      <label for="observation-point-new">Create a new observation point</label>
                    </div>
                    <div class="row-radio" data-tab="observation-point-exist">
                      <input type="radio" id="observation-point-exist" name="observation" value="2">
                      <label for="observation-point-exist">Load from CSV file</label>
                    </div>
                    <!-- Layer 1: "Create a new observation point" -->
                    <div class="radio-panel" data-panel="observation-point-new" style="display: block;">
                      <div class="row">
                        <label for="observation-point">Name:</label>
                        <input type="text" id="observation-point" placeholder="Enter name">
                      </div>
                      <div class="row">
                        <label for="observation-point-latitude">Latitude (°):</label>
                        <input type="text" id="observation-point-latitude" placeholder="Enter latitude">
                      </div>
                      <div class="row">
                        <label for="observation-point-longitude">Longitude (°):</label>
                        <input type="text" id="observation-point-longitude" placeholder="Enter longitude">
                      </div>
                      <div class="row">
                        <button type="button" id="observation-point-picker">Pick on map</button>
                        <button type="button" id="observation-point-save">Add to list</button>
                        <button type="button" id="observation-point-remove">Remove from list</button>
                      </div>
                    </div>
                    <!-- Layer 2: "Create a new observation point" -->
                    <div class="radio-panel" data-panel="observation-point-exist">
                      <div class="row">
                        <label for="observation-point-csv">Upload CSV:</label>
                        <input type="file" id="observation-point-csv" accept=".csv">
                      </div>
                    </div>
                    <table class="attributes-table" id="observation-point-table">
                      <thead>
                        <tr><th>Point</th><th>Latitude (°)</th><th>Longitude (°)</th></tr>
                      </thead>
                      <tbody></tbody>
                    </table>
                    <div class="row">
                      <button type="button" id="observation-point-update" style="display: none;">Update observation points on map</button>
                    </div>
                  </div>
                  <div class="tile"><h3>Cross-Section</h3>
                    <div class="row">
                      <label for="observation-cross-section">Name:</label>
                      <input type="text" id="observation-cross-section" placeholder="Enter name">
                    </div>
                    <div class="row">
                      <button type="button" id="observation-cross-section-picker">Draw on map</button>
                      <button type="button" id="observation-cross-section-remove">Delete list</button>
                    </div>
                    <table class="attributes-table" id="observation-cross-section-table">
                      <thead>
                        <tr><th>Cross-Section</th><th>Latitude (°)</th><th>Longitude (°)</th></tr>
                      </thead>
                      <tbody></tbody>
                    </table>
                  </div>
                </div>
              </div>
              <div class="tabpanel" data-panel="model-setting-4">
                <div class="grid">
                  <div class="tile"><h3>Add boundary condition</h3>
                    <div class="row">
                      <label for="boundary-name">Name:</label>
                      <input type="text" id="boundary-name" placeholder="Enter name">
                    </div>
                    <div class="row">
                      <button type="button" id="boundary-picker">Draw on map</button>
                      <button type="button" id="boundary-remove">Delete BC</button>
                    </div>
                    <table class="attributes-table" id="boundary-table">
                      <thead>
                        <tr><th>Name</th><th>Latitude (°)</th><th>Longitude (°)</th></tr>
                      </thead>
                      <tbody></tbody>
                    </table>
                  </div>                              
                  <div class="tile"><h3>Edit sub-boundary condition</h3>
                    <div class="row">
                      <label for="option-boundary-edit">Sub-boundary:</label>
                      <select id="option-boundary-edit"></select>
                    </div>
                    <div class="row">
                      <label for="option-boundary-type">Select type:</label>
                      <select id="option-boundary-type">
                        <option value="WaterLevel">Water level</option>
                        <option value="Contaminant">Contaminant</option>
                      </select>
                    </div>
                    <table class="attributes-table" id="boundary-edit-table">
                      <thead>
                        <tr><th>Time</th><th>Value</th></tr>
                      </thead>
                      <tbody></tbody>
                    </table>
                    <div class="row">
                      <button type="button" id="boundary-update">Create/Update boundary</button>
                      <button type="button" id="boundary-edit-remove">Delete table</button>
                    </div>
                  </div>
                  <div class="tile"><h3>View boundary conditions</h3>
                    <div class="row">
                      <label for="option-boundary-type-view">Select type:</label>
                      <select id="option-boundary-type-view">
                        <option value="" selected>--- No selected ---</option>
                        <option value="WaterLevel">Water level</option>
                        <option value="Contaminant">Contaminant</option>
                      </select>
                    </div>
                    <div class="textarea-container" id="textarea-container">
                      <label for="data-view">Boundary Data:</label>
                      <textarea class="data-textarea" id="data-view" readonly></textarea>
                    </div>
                  </div>
                </div>
              </div>
              <div class="tabpanel" data-panel="model-setting-5">
                <div class="grid">
                  <div class="tile"><h3>Processes</h3>
                    <div class="row-checkbox">
                      <input type="checkbox" id="use-salinity" checked=true>
                      <label for="use-salinity">Salinity</label>
                    </div>
                    <div class="row">
                      <label for="option-temperature">Temperature:</label>
                      <select id="option-temperature">
                        <option value="0">None</option>
                        <option value="1">Transport only</option>
                        <option value="3">Excess temperature</option>
                        <option value="5" selected=true>Composite model</option>
                      </select>
                    </div>                                    
                  </div>
                  <div class="tile"><h3>Initial Conditions</h3>
                    <div class="row">
                      <label for="initial-water-level">Water level (m):</label>
                      <input type="text" id="initial-water-level" value='0'>
                    </div>
                    <div class="row">
                      <label for="initial-salinity">Salinity (ppt):</label>
                      <input type="text" id="initial-salinity" value='0.02'>
                    </div>
                    <div class="row">
                      <label for="initial-temperature">Temperature (°C):</label>
                      <input type="text" id="initial-temperature" value='3.45'>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- Tab 2: Hydro and Meteo -->
        <div class="tabpanel main-panel" data-panel="hydro-meteo">
            <!-- Sub Tabs -->
            <div class="card tabs tabs--sub">
              <div class="tabs__header">
                <div class="tabs__list">
                  <button class="tab-btn" data-tab="hydro-meteo-1">Hydrological Parameters<span class="ink"></span></button>
                  <button class="tab-btn" data-tab="hydro-meteo-2">Meteorological Parameters<span class="ink"></span></button>
                </div>
              </div>
              <div class="tabs__content">
                <div class="tabpanel" data-panel="hydro-meteo-1">
                  <div class="grid">
                    <div class="tile"><h3>Data source</h3>
                      <div class="row-radio" data-tab="source-sink-new">
                        <input type="radio" id="source-sink-new" name="source" value="1" checked=true>
                        <label for="source-sink-new">Create a new source/sink</label>
                      </div>
                      <div class="row-radio" data-tab="source-sink-exist">
                        <input type="radio" id="source-sink-exist" name="source" value="2">
                        <label for="source-sink-exist">Load from CSV file</label>
                      </div>
                      <div class="row-radio" data-tab="source-sink-list">
                        <input type="radio" id="source-sink-list" name="source" value="3">
                        <label for="source-sink-list">Select from list</label>
                      </div>
                      <div class="row">
                        <label for="source-name">Name:</label>
                        <input type="text" id="source-name" placeholder="Name of source/sink">
                      </div>
                      <div class="row">
                        <label for="source-latitude">Latitude (°):</label>
                        <input type="text" id="source-latitude" placeholder="Enter latitude">
                      </div>
                      <div class="row">
                        <label for="source-longitude">Longitude (°):</label>
                        <input type="text" id="source-longitude" placeholder="Enter longitude">
                      </div>
                      <!-- Layer 1: "Create a new source/sink" -->
                      <div class="radio-panel" data-panel="source-sink-new" style="display: block;">
                        <div class="row">
                          <button type="button" id="source-picker">Pick from map</button>
                        </div>
                      </div>
                      <!-- Layer 2: "Load from CSV file" -->
                      <div class="radio-panel" data-panel="source-sink-exist">
                        <div class="row">
                          <label for="source-csv-file">Upload CSV:</label>
                          <input type="file" id="source-csv-file" accept=".csv">
                        </div>
                      </div>                                  
                      <!-- Layer 3: "Select from list" -->
                      <div class="radio-panel" data-panel="source-sink-list">
                        <div class="row">
                          <label for="option-source">Select from list:</label>
                          <select id="option-source"></select>
                        </div>
                      </div>
                    </div>
                    <div class="tile"><h3>Remove source</h3>
                      <div class="row">
                        <label for="option-source-remove">Select source/sink:</label>
                        <select id="option-source-remove"></select>
                      </div>
                      <table class="attributes-table" id="source-remove-table">
                        <thead>
                          <tr><th>Source Name</th><th>Type</th></tr>
                        </thead>
                        <tbody></tbody>
                      </table>
                      <div class="row">
                        <button type="button" id="source-remove">Remove from project</button>
                      </div>
                    </div>
                    <div class="tile tile-double">
                      <div class="table-header">
                        <h3>Attribute Table</h3>
                        <button class="tile-btn" id="plot-source-btn">Plot</button>
                        <button class="tile-btn" id="delete-source-btn">Delete table</button>
                        <button class="tile-btn" id="save-source-btn">Create/Update source data</button>
                      </div>
                      <table class="attributes-table" id="source-table">
                        <thead>
                          <tr><th>Time</th><th>Discharge (m³/s)</th><th>Salinity (ppt)</th>
                            <th>Temperature (°C)</th><th>Contaminant (kg/m³)</th></tr>
                        </thead>
                        <tbody></tbody>
                      </table>
                    </div>
                  </div>
                </div>
                <div class="tabpanel" data-panel="hydro-meteo-2">
                  <div class="grid">
                    <div class="tile"><h3>Meteo data</h3>
                       <div class="row">
                        <label for="meteo-picker-csv">Upload CSV:</label>
                        <input type="file" id="meteo-picker-csv" accept=".csv">
                       </div>
                    </div>
                    <div class="tile"><h3>Weather data</h3>
                      <div class="row">
                        <label for="option-weather">Select item:</label>
                        <select id="option-weather">
                          <option value="" selected>--- No selected ---</option>
                          <option value="wind-magnitude-direction">Wind: Magnitude and Angle</option>
                          <!-- <option value="wind-x-component-time-series">Wind velocity x-component (time series)</option>
                          <option value="wind-y-component-time-series">Wind velocity y-component (time series)</option>
                          <option value="wind-vector">Wind velocity vector (time series)</option>
                          <option value="wind-x-component-grid">Wind velocity x-component (grid)</option>
                          <option value="wind-y-component-grid">Wind velocity y-component (grid)</option>
                          <option value="air-pressure-time-series">Air pressure (time series)</option>
                          <option value="air-pressure-grid">Air pressure (grid)</option>
                          <option value="wind-pressure-curvi-grid">Wind velocity and air pressure (curvi-grid)</option>
                          <option value="spider-web-grid">Spider web grid</option> -->
                        </select>
                      </div>
                      <table class="attributes-table" id="weather-edit-table">
                        <thead>
                          <tr><th>Time</th><th>Magnitude (m/s)</th><th>Direction (°)</th></tr>
                        </thead>
                        <tbody></tbody>
                      </table>
                      <div class="row">
                        <input type="file" id="weather-update-csv" accept=".csv" style="width: 50px; display: none;">
                        <button type="button" id="weather-update" style="display: none;">Create/Update weather data</button>
                      </div>

                    </div>
                    <div class="tile tile-double">
                      <div class="table-header">
                        <h3>Attribute Table</h3>
                        <button class="tile-btn" id="plot-meteo-btn">Plot</button>
                        <button class="tile-btn" id="delete-meteo-btn">Delete table</button>
                        <button class="tile-btn" id="save-meteo-btn">Create/Update meteo data</button>
                      </div>
                      <table class="attributes-table" id="edit-meteo-table">
                        <thead>
                          <tr><th>Time</th><th>Humidity (%)</th><th>Air temperature (°C)</th>
                            <th>Cloud coverage (%)</th><th>Solar radiation (W/m²)</th></tr>
                        </thead>
                        <tbody></tbody>
                      </table>
                    </div>
                  </div>
                </div>
              </div>
            </div>
        </div>
        <!-- Tab 3: Output Settings -->
        <div class="tabpanel main-panel" data-panel="output-settings">
          <!-- Sub Tabs -->
          <div class="card tabs tabs--sub">
            <div class="tabs__content">
              <div class="grid">
                <div class="tile"><h3>History</h3>
                  <div class="row-checkbox">
                    <input type="checkbox" id="write-his-file">
                    <label for="write-his-file">Write His file:</label>
                  </div>
                  <div class="row-block">
                    <label for="his-output-interval-date">Interval:</label>
                    <input type="text" id="his-output-interval-date" value="0">
                    <label for="his-output-interval-time">days</label>
                    <input type="text" class="datetime-interval" id="his-output-interval-time" value="06:00:00">
                  </div>
                  <div class="row">
                    <label for="his-output-start">Start time:</label>
                    <input type="text" class="datetime" id="his-output-start" placeholder="YYYY-mm-dd HH:mm:ss">
                  </div>
                  <div class="row">
                    <label for="his-output-end">Stop time:</label>
                    <input type="text" class="datetime" id="his-output-end" placeholder="YYYY-mm-dd HH:mm:ss">
                  </div>                                    
                </div>
                <div class="tile"><h3>Map</h3>
                  <div class="row-checkbox">
                    <input type="checkbox" id="write-map-file">
                    <label for="write-map-file">Write Map file:</label>
                  </div>                                  
                  <div class="row-block">
                    <label for="map-output-interval-date">Interval:</label>
                    <input type="text" id="map-output-interval-date" value="1">
                    <label for="map-output-interval-time">days</label>
                    <input type="text" class="datetime-interval" id="map-output-interval-time" value="00:00:00">
                  </div>                                  
                  <div class="row">
                    <label for="map-output-start">Start time:</label>
                    <input type="text" class="datetime" id="map-output-start" placeholder="YYYY-mm-dd HH:mm:ss">
                  </div>
                  <div class="row">
                    <label for="map-output-end">Stop time:</label>
                    <input type="text" class="datetime" id="map-output-end" placeholder="YYYY-mm-dd HH:mm:ss">
                  </div>                                    
                </div>
                <div class="tile"><h3>Water Quality</h3>
                  <div class="row-checkbox">
                    <input type="checkbox" id="write-water-quality-file">
                    <label for="write-water-quality-file">Write Water Quality file:</label>                                    
                  </div>
                  <div class="row-block">
                    <label for="water-quality-output-interval-date">Interval:</label>
                    <input type="text" id="water-quality-output-interval-date" value="1">
                    <label for="water-quality-output-interval-time">days</label>
                    <input type="text" class="datetime-interval" id="water-quality-output-interval-time" value="00:00:00">
                  </div>
                  <div class="row">
                    <label for="water-quality-output-start">Start time:</label>
                    <input type="text" class="datetime" id="water-quality-output-start" placeholder="YYYY-mm-dd HH:mm:ss">
                  </div>
                  <div class="row">
                    <label for="water-quality-output-end">Stop time:</label>
                    <input type="text" class="datetime" id="water-quality-output-end" placeholder="YYYY-mm-dd HH:mm:ss">
                  </div>                                    
                </div>
                <div class="tile"><h3>Restart</h3>
                  <div class="row-checkbox">
                    <input type="checkbox" id="write-restart-file">
                    <label for="write-restart-file">Write Restart file:</label>                                    
                  </div>
                  <div class="row-block">
                    <label for="restart-interval-date">Interval:</label>
                    <input type="text" id="restart-interval-date" value="30">
                    <label for="restart-interval-time">days</label>
                    <input type="text" class="datetime-interval" id="restart-interval-time" value="00:00:00">
                  </div>
                  <div class="row">
                    <label for="restart-output-start">Start time:</label>
                    <input type="text" class="datetime" id="restart-output-start" placeholder="YYYY-mm-dd HH:mm:ss">
                  </div>
                  <div class="row">
                    <label for="restart-output-end">Stop time:</label>
                    <input type="text" class="datetime" id="restart-output-end" placeholder="YYYY-mm-dd HH:mm:ss">
                  </div>                                    
                </div>
                <div class="tile"><h3>Others</h3>                                
                  <div class="row-block">
                    <label for="statistic-output-interval-date">Statistic output interval:</label>
                    <input type="text" id="statistic-output-interval-date" value="1">
                    <label for="statistic-output-interval-time">days</label>
                    <input type="text" class="datetime-interval" id="statistic-output-interval-time" value="00:00:00">
                  </div>                                
                  <div class="row-block">
                    <label for="timing-statistic-output-interval-date">Timing statistic output interval:</label>
                    <input type="text" id="timing-statistic-output-interval-date" value="1">
                    <label for="timing-statistic-output-interval-time">days</label>
                    <input type="text" class="datetime-interval" id="timing-statistic-output-interval-time" value="00:00:00">
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <button class="tab-btn" id="complete-button">Save Components to Project<span class="ink"></span></button>
    </section>
  </div>
  <script src="static/js/tooltipManager.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
  <script>
    flatpickr(".datetime-interval",{ 
      noCalendar: true, enableSeconds: true, time_24hr: true,
      enableTime: true, dateFormat: "H:i:S" });
    flatpickr(".datetime", {
      enableTime: true, enableSeconds: true,
      dateFormat: "Y-m-d H:i:S", time_24hr: true});
  </script>
  <!-- Load the newest version of the script -->
  <script type="module">
    const script = document.createElement('script');
    script.type = 'module';
    script.src = `/static/js/projectHYDCreator.js?v=${Date.now()}`;
    document.body.appendChild(script);
  </script>
</body>
</html>
