<div class="menu">
    <div><a class="project" data-info="reset-project">Reset</a></div>
    <div><a class="project" data-info="default-project">Default Project</a></div>
    <hr style="border-top: 1px solid #0414f5; margin: 5px 10px 5px 10px;">
    <div></div><a class="project" data-info="open-project">Open Project</a></div>
    <div><a class="project" data-info="new-project">New Project</a></div>
    <!-- <hr style="border-top: 1px solid #0414f5; margin: 5px 10px 5px 10px;">
    <div><a class="project" data-info="grid-generation">Generate Grid</a></div> -->
    <hr style="border-top: 1px solid #0414f5; margin: 5px 10px 5px 10px;">
    <div><a class="project" data-info="run-simulation">Run Simulation</a></div>
</div>