<!DOCTYPE html>
<html lang="en">
<head>
    <title>Flow Estimation</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="https://unpkg.com/leaflet/dist/leaflet.css">
    <link rel="stylesheet" href="/static_frontend/css/flowEstimation.css?v=003">
</head>
<body>
    <section class="main-tab">
        <div class="tabs-header">
            <div class="tabs-list">
                <button class="tab-btn" data-tab="terrain-tab">Terrain Analysis<span class="ink"></span></button>
                <button class="tab-btn" data-tab="another-tab">Another Source<span class="ink"></span></button>
            </div>
        </div>
        <div class="tabs-content">
            <!-- Tab 1: Terrain Analysis -->
            <div class="main-panel" data-panel="terrain-tab">
                <div class="grid">
                    <div class="tile"><h3>Terrain Importing</h3>
                        <div class="single-row">
                            <label for="terrain-input">Raw Terrain:</label>
                            <input type="file" id="terrain-input-file" accept=".tif" hidden>
                            <input type="text" id="terrain-input-text" placeholder="No file selected" readonly>
                            <button type="button" id="terrain-btn">...</button>
                        </div>
                        <div class="checkbox-column">
                            <label class="checkbox-right" style="margin-top: 20px; font-size: 16px;">
                                <input type="radio" name="terrain" value="terrain-raw">Show/Hide Terrain
                            </label>
                            <label class="checkbox-right" style="margin-top: 20px; font-size: 16px;">
                                <input type="radio" name="terrain" value="hide-all" checked>Hide All
                            </label>
                        </div>
                    </div>
                    <div class="tile"><h3>Terrain Processing</h3>
                        <div class="checkbox-grid">
                            <div class="checkbox-column">
                                <button type="button" id="terrain-fill-btn">1. Fill sinks/depressions</button>
                                <label class="checkbox-right">
                                    <input type="radio" name="terrain" value="terrain-fill">Show/Hide
                                </label>
                            </div>
                            <div class="checkbox-column">
                                <button type="button" id="terrain-direction-btn">2. Flow direction</button>
                                <label class="checkbox-right">
                                    <input type="radio" name="terrain" value="terrain-direction">Show/Hide
                                </label>
                            </div>
                            <div class="checkbox-column">
                                <button type="button" id="terrain-accumulation-btn">3. Flow accumulation</button>
                                <label class="checkbox-right">
                                    <input type="radio" name="terrain" value="terrain-accumulation">Show/Hide
                                </label>
                            </div>
                            <div class="checkbox-column">
                                <button type="button" id="terrain-watershed-btn">4. Watershed</button>
                                <label class="checkbox-right">
                                    <input type="radio" name="terrain" value="terrain-watershed">Show/Hide
                                </label>
                            </div>
                        </div>
                    </div>






                </div>


            </div>
            <!-- Tab 2: Another Source -->
            <div class="main-panel" data-panel="another-tab">






            </div>
        </div>
        <!-- Add the map -->
        <div id="map-container">
            <button type="button" id="compass" style="display: none;">
                <img src="/static_backend/images/compass.png?v=2"alt="Compass">
            </button>
            <div id="leaflet-map"></div>
            <div id="loadingOverlay" style="display: none;">
                <div class="loading-text">Processing Data. Please wait...</div>
                <div class="spinner"></div>
            </div>

            <!-- Legend -->
            <div id="custom-colorbar">
                <div class="colorbar-wrapper" id="colorbar-container" style="display: none;">
                    <div class="colorbar-title" id="colorbar-title">Legend</div>
                    <div class="colorbar-gradient" id="colorbar-color"></div>
                    <div class="colorbar-labels" id="colorbar-labels">
                        <div></div> <!-- max -->
                        <div></div> <!-- 75% -->
                        <div></div> <!-- 50% -->
                        <div></div> <!-- 25% -->
                        <div></div> <!-- min -->
                    </div>
                </div>
            </div>
        </div>
    </section>
    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"></script>
    <script src="/static_frontend/js/tooltipManager.js"></script>
    <script type="module" src="/static_frontend/js/flowEstimation.js"></script>
    <!-- <script>
        const script = document.createElement('script');
        script.type = 'module';
        script.src = `/static_frontend/js/dataPreparation.js?v=${Date.now()}`;
        document.body.appendChild(script);
    </script> -->
</body>
</html>