<a id="projectSummaryOption">Project Summary</a>
<!-- Point Options -->
<div class="menu">
    <a class="menu-link">Observation Points<span class="arrow">&#x25B8;</span></a>
    <div class="submenu">
        <label class="submenu-label {% if not configuration.hyd_obs %}hidden{% endif %}">
            <input type="checkbox" id="hyd-obs-checkbox">Hydrodynamic Observations
        </label>
        <label class="submenu-label {% if not configuration.sources %}hidden{% endif %}">
            <input type="checkbox" id="source-checkbox">Sources/Sinks Observations
        </label>
        <label class="submenu-label {% if not configuration.wq_obs %}hidden{% endif %}">
            <input type="checkbox" id="waq-obs-checkbox">Water Quality Observations
        </label>
        <label class="submenu-label {% if not configuration.wq_loads %}hidden{% endif %}">
            <input type="checkbox" id="waq-loads-checkbox">Loads Observations
        </label>
    </div>
</div>
<!-- Profile Options -->
<div class="menu">
    <a class="menu-link">Observation Path<span class="arrow">&#x25B8;</span></a>
    <div class="submenu">
        <label class="submenu-label {% if not configuration.cross_sections %}hidden{% endif %}">
            <input type="checkbox" id="cross-section-checkbox">Cross-Sections
        </label>
        <!-- Path Query -->
        <label class="submenu-label">
            <input type="checkbox" id="path-query-checkbox">Profile
        </label>
    </div>
</div>
<!-- Thermocline -->
<hr style="border-top: 1px solid #0414f5; margin: 0 5px 0 5px;">
<a class="thermocline {% if not configuration.thermocline %}hidden{% endif %}" 
    data-info="Depth (m)|Thermocline">Thermocline Chart</a>