<!DOCTYPE html>
<html lang="en">
<head>
    <title>Grid Generation</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="stylesheet" href="https://unpkg.com/leaflet/dist/leaflet.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
    <link rel="stylesheet" href="/static_frontend/css/projectHYDCreator.css?v=002">
    <link rel="stylesheet" href="/static_frontend/css/temp_style.css?v=002">
    <link rel="stylesheet" href="/static_frontend/css/grid_style.css?v=002">
</head>
<body>
    <div class="wrapper">
        <div class="page-title">
            <input type="radio" id="new-database" name="project" checked=true>
            <label for="new-database">Select from a pre-defined database</label>
            <input type="radio" id="new-map" name="project" style="margin-left: 50px;">
            <label for="new-map">Draw on the map</label>
        </div>
        <div class="page-title" id="select-container">
            <label for="project-name">Select Region</label>
            <div id="project-name-wrapper">
                <input type="text" id="project-name"
                    placeholder="Enter region's name or Select from the list"/>
                <ul id="project-list"></ul>
            </div>
            <label for="lake-name" id="lake-name-label">Select Lake</label>
            <select id="lake-name"><option value="">-- No selected --</option></select>
            <div class="search-box">
                <label for="lake-search" style="margin-left: 50px;"><i class="fas fa-search"></i></label>
                <input type="text" id="lake-search" placeholder="Search lake..."
                    style="text-align: center; font-size: 16px;"/>
                <div id="lake-suggestions" class="lake-suggestions" style="display:none;"></div>
            </div>
        </div>
        <section class="card tabs">
            <div class="tile tile-double" id="table-of-contents" style="display: none;">
                <div class="table-header">
                    <h3>Table of contents</h3>
                </div>
                <table class="attributes-table" id="lake-table">
                    <thead>
                        <tr>
                            <th>Name</th> <th>Region</th> <th>Area (m²)</th> <th>Perimeter (m)</th>
                            <th>Max Depth (m)</th> <th>Min Depth (m)</th> <th>Average Depth (m)</th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>
            <div class="tile tile-double" id="menu-container" style="display: none;">
                <div class="control-tab">
                    <label class="checkbox-right"><input type="checkbox" id="polygon-checkbox">Show Polygon</label>
                    <label class="checkbox-right"><input type="checkbox" id="depth-checkbox">Show Depth</label>
                    <div class="control-tab-inline">
                        <label for="base-map-select">Background Map</label>
                        <select id="base-map-select">
                            <option value="https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png" selected>Open Street Map</option>
                            <option value="https://server.arcgisonline.com/ArcGIS/rest/services/World_Imagery/MapServer/tile/{z}/{y}/{x}">Satellite</option>
                            <option value="https://server.arcgisonline.com/ArcGIS/rest/services/World_Street_Map/MapServer/tile/{z}/{y}/{x}">Street</option>
                            <option value="https://{s}.basemaps.cartocdn.com/light_all/{z}/{x}/{y}{r}.png">Carto Light</option>
                            <option value="https://{s}.basemaps.cartocdn.com/dark_all/{z}/{x}/{y}{r}.png">Carto Dark</option>
                        </select>
                    </div>
                </div>
                <div class="control-tab">
                    <button class="button-grid" id="vertexes-btn">Get/Reset Vertexes<span class="ink"></span></button>
                    <label class="checkbox-right"><input type="checkbox" id="refinement-checkbox">Refine Vertexes</label>
                    <div class="content-line" id ="refinement-container" style="display: none;">
                        <input type="text" id="refinement-value" placeholder="Enter refinement value" value="20.0">
                        <label style="width: 5px;">(m)</label>
                    </div>
                </div>
                <div class="control-tab">
                    <label class="checkbox-right"><input type="checkbox" id="delete-checkbox">Delete Vertexes</label>
                    <div class="control-tab-inline">
                        <label for="scale-factor">Detailed Level</label>
                        <select id="scale-factor">
                            <option value="auto" selected>Auto</option>
                            <option value="custom">Custom</option>
                        </select>
                        <input type="number" id="custom-scale-factor" placeholder="Scale" step="0.1" value="1.0" hidden>
                    </div>
                    <button class="button-grid" id="generate-grid">Generate Grid<span class="ink"></span></button>
                </div>
                <div class="control-tab">
                    <label class="checkbox-right"><input type="checkbox" id="orthogonalisation-checkbox">Orthogonalisation</label>
                </div>
                <div class="control-right">
                    <div class="content-line">
                        <label for="grid-name">Grid Name (*.nc)</label>
                        <input type="text" id="grid-name" style="width: 100px; text-align: center;" value="Grid">
                    </div>
                    <button class="save-grid" id="save-grid" style="padding: 10px 0 10px 0;">Save Grid<span class="ink"></span></button>
                </div>
            </div>
            <!-- Add the map -->
            <div id="map-container">
                <div id="leaflet-map-lakes"></div>
                <div id="loadingOverlay-grid" style="display: none;">
                    <div class="loading-text-grid">Processing Data. Please wait...</div>
                    <div class="spinner"></div>
                </div>
                <!-- Legend -->
                <div id="custom-colorbar-grid">
                    <div class="colorbar-wrapper">
                        <div class="colorbar-title" id="colorbar-title-grid">Legend</div>
                        <div class="colorbar-gradient" id="colorbar-gradient-grid"></div>
                        <div class="colorbar-labels" id="colorbar-labels-grid">
                            <div></div> <!-- max -->
                            <div></div> <!-- 75% -->
                            <div></div> <!-- 50% -->
                            <div></div> <!-- 25% -->
                            <div></div> <!-- min -->
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@turf/turf@6/turf.min.js"></script>
    <script>
        const script = document.createElement('script');
        script.type = 'module';
        script.src = `/static_frontend/js/gridManager.js?v=${Date.now()}`;
        document.body.appendChild(script);
    </script>
</body>
</html>