<div class="menu">
    <div><a class="project" data-info="new-hyd-project">HYD Scenario</a></div>
    <div><a class="project" data-info="run-hyd-simulation">Run HYD Simulation</a></div>
    <hr style="border-top: 1px solid #0414f5; margin: 5px 10px 5px 10px;">
    <div><a class="project" data-info="new-wq-project">Run WAQ Simulation</a></div>
    <hr style="border-top: 1px solid #0414f5; margin: 5px 10px 5px 10px;">
    <div><a class="project" data-info="visualization">Visualization</a></div>
    <!-- <hr style="border-top: 1px solid #0414f5; margin: 5px 10px 5px 10px;">
    <div><a class="project" data-info="grid-generation">Generate Grid</a></div> -->
</div>