<div class="menu">
    <div><a class="project" data-info="new-hyd-project">HYD Scenario</a></div>
    <div><a class="project" data-info="run-hyd-simulation">Run HYD Simulation</a></div>
    <hr style="border-top: 1px solid #0414f5; margin: 5px 10px 5px 10px;">
    <div><a class="project" data-info="new-waq-project">WAQ Scenario</a></div>
    <div><a class="project" data-info="run-waq-project">Run WAQ Simulation</a></div>
    <hr style="border-top: 1px solid #0414f5; margin: 5px 10px 5px 10px;">
    <div><a class="project" data-info="visualization">Visualization</a></div>
    <hr style="border-top: 1px solid #0414f5; margin: 5px 10px 5px 10px;">
    <a class="menu-link">Utilities<span class="arrow">&#x25B8;</span></a>
    <div class="submenu">
        <a class="project" id="gis-uploader" data-info="gis-uploader">• GIS Uploader</a>
        <input type="file" id="gis-file" accept=".geojson,.zip" hidden>
        <a class="project" data-info="grid-generation">• Grid Generation</a>
        <a class="project" data-info="data-preparation">• Data Preparation</a>
        <a class="project" data-info="model-calibration">• Model Calibration</a>
    </div>
</div>